/* scss */
.intro_wrapper h1 {
    text-shadow: -1px -1px 0 #8e9f81, 1px -1px 0 #8e9f81, -1px 1px 0 #8e9f81, 1px 1px 0 #8e9f81;
}

.intro_wrapper h1:after {
    content: attr(data-heading);
    z-index: 999;
    overflow: hidden;
    color: #cdbca3;
    mix-blend-mode: darken;
    text-shadow: 1px 0px 0px #8e9f81, 0px 1px 0px #4e5c43, 2px 1px 0px #8e9f81, 1px 2px 0px #4e5c43, 3px 2px 0px #8e9f81, 2px 3px 0px #4e5c43, 4px 3px 0px #8e9f81, 3px 4px 0px #4e5c43, 5px 4px 0px #8e9f81, 4px 5px 0px #4e5c43, 6px 5px 0px #8e9f81, 5px 6px 0px #4e5c43, 7px 6px 0px #8e9f81;
}

@media screen and (max-width : 1600px) {
    #master {
        font: 90 13rem/1.2 "Black Han Sans", sans-serif;
    }

    #master-container {
        width: 100vw;
    }

    #master-container-scroller {
        height: 200px;
        margin-bottom: 5px;
    }

    #master-container-scroller .master-container-scroller_item {
        -webkit-animation: scroll-desktop 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-desktop 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes scroll-desktop {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        25% {
            -webkit-transform: translateY(-270px);
            transform: translateY(-270px);
        }

        35% {
            -webkit-transform: translateY(-270px);
            transform: translateY(-270px);
        }

        50% {
            -webkit-transform: translateY(-520px);
            transform: translateY(-520px);
        }

        60% {
            -webkit-transform: translateY(-520px);
            transform: translateY(-520px);
        }

        75% {
            -webkit-transform: translateY(-780px);
            transform: translateY(-780px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-780px);
            transform: translateY(-780px);
        }
    }

    @keyframes scroll-desktop {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        25% {
            -webkit-transform: translateY(-270px);
            transform: translateY(-270px);
        }

        35% {
            -webkit-transform: translateY(-270px);
            transform: translateY(-270px);
        }

        50% {
            -webkit-transform: translateY(-520px);
            transform: translateY(-520px);
        }

        60% {
            -webkit-transform: translateY(-520px);
            transform: translateY(-520px);
        }

        75% {
            -webkit-transform: translateY(-780px);
            transform: translateY(-780px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-780px);
            transform: translateY(-780px);
        }
    }
}

@media screen and (max-width : 1200px) {
    .doyi {
        display: none;
    }

    #master {
        font: 90 5rem/1.2 "Black Han Sans", sans-serif;
    }

    #master-container {
        top: 80px;
        height: 80vmin;
        width: 90vw;
        left: 10vw;
    }

    #master-container-scroller .master-container-scroller_item {
        -webkit-animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    #master-container-scroller {
        height: 100px;
        margin-top: 5px;
    }

    #master-container-scroller .master-container-scroller_item {
        padding-bottom: 0;
        -webkit-animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes scroll-tablet {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        25% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        35% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        50% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        60% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        75% {
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }
    }

    @keyframes scroll-tablet {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        25% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        35% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        50% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        60% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        75% {
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }
    }
}

@media screen and (max-width : 650px) {
    #master {
        font: 90 3rem/1.2 "Black Han Sans", sans-serif;
    }

    #master-container {
        width: 85vw;
        top: 150px;
        height: 80vmin;
    }

    #master-container-scroller .master-container-scroller_item {
        -webkit-animation: scroll_mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll_mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    #master-container-scroller {
        height: 50px;
        margin-bottom: 10px;
    }

    #master-container-scroller .master-container-scroller_item {
        padding-bottom: 0;
        -webkit-animation: scroll-mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes scroll-mobile {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        25% {
            -webkit-transform: translateY(-47px);
            transform: translateY(-47px);
        }

        35% {
            -webkit-transform: translateY(-47px);
            transform: translateY(-47px);
        }

        50% {
            -webkit-transform: translateY(-94px);
            transform: translateY(-94px);
        }

        60% {
            -webkit-transform: translateY(-94px);
            transform: translateY(-94px);
        }

        75% {
            -webkit-transform: translateY(-141px);
            transform: translateY(-141px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-141px);
            transform: translateY(-141px);
        }
    }

    @keyframes scroll-mobile {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }

        25% {
            -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
        }

        35% {
            -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
        }

        50% {
            -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
        }

        60% {
            -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
        }

        75% {
            -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
        }
    }
}