@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

/* #B39C7A */

body {
  -webkit-animation: body_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
  animation: body_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes body_bg {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: none;
  }
}



@keyframes body_bg {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: none;
  }

}

a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* 공통 애니메이션 효과 */
@-webkit-keyframes common_ani_opening {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}



@keyframes common_ani_opening {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

}


