.burger-menu {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: transparent;
    border: none;
    top: 40%;
    left: 14px;
    z-index: 999;
    -webkit-animation: doyi_bg 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4s 1;
    animation: doyi_bg 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4s 1;
    animation-fill-mode: backwards;
}

.burger-menu span {
    position: absolute;
    left: 0;
    z-index: 999;
    display: inline-block;
    height: 0.25em;
    width: 45px;
    background-color: #B39C7A;
    margin-top: 20px;
    transition: 0.3s ease transform;
    border-radius: 20px;
}


.burger-menu>span:nth-child(1) {
    top: 0px;
}

.burger-menu>span:nth-child(2) {
    top: 15px;
}

.burger-menu>span:nth-child(3) {
    top: 30px;
}

.burger-menu:hover {
    cursor: pointer;
}


.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.45em, 1.25em);
    transition: ease-out 0.5s;
    border-radius: 20px;
    background-color: #CDBCA3;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.005);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.3em, 1.1em);
    transition: ease-out 0.5s;
    border-radius: 20px;
    background-color: #CDBCA3;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}



/* modal_nav*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    height: 0%;
    width: 100vw;
    margin: 0 auto;
    background-color: #5f6f52;
    z-index: 100;
}

.nav__extra-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #CDBCA3;
    z-index: 100;
}

.nav__content {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
}


.nav__links {
    width: 100vw;
    z-index: 9999;
}

.modal_link {
    display: block;
}

.modal_link>div {
    margin: 0 auto;
    width: 300px;
    font: bold 6rem 'Smooch Sans',
        sans-serif;
    color: #CDBCA3;
}



.modal_link:not(:last-child) {
    margin-bottom: 5vh;
}

.modal_link:nth-child(1)>div:hover {
    transition: 1s;
    color: #806044;
}

.modal_link:nth-child(2)>div:hover {
    color: #c95845;
    transition: 1s;
}

.modal_link:nth-child(3)>div:hover {
    color: #e0b537;
    transition: 1s;
}

.modal_link:nth-child(4)>div:hover {
    color: #2d82a7;
    transition: 1s;
}

@media screen and (max-width : 650px) {

    .nav_name {
        display: none;
    }

    .burger-menu {
        top: 0px;
        left: 85vw;
    }

    .burger-menu span {
            margin-top: 15px;
        width: 35px;
    }

    .modal_link>div {
        font: bold 4rem 'Smooch Sans', sans-serif;
    }

}