@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap);


section {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
}

.container {
    -webkit-animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation-fill-mode: forwards
}

@-webkit-keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}

@keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}