@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap);

#archiving,
#main_sub,
#projects,
.img_wrap,
section {
    position: relative
}

.arch_left_box,
.arch_right_box,
.explain_me,
.img_wrap:after,
.sub_box,
.sub_name,
.sub_text {
    position: absolute
}

.arch_left_box,
.sub_box {
    border-radius: 0 300px 300px 0
}

#archiving,
#contact,
#main_sub,
#projects {
    background-color: #b39c7a
}

.container {
    -webkit-animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation-fill-mode: forwards
}

@-webkit-keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}

@keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}

section {
    width: 100%;
    height: 100vh;
    z-index: 1
}

.sub_box {
    width: 500px;
    height: 100vh;
    background-color: #829472;
    top: 0;
    animation: 1s both fromleft;
    animation-timeline: view()
}

.arch_left_box,
.arch_right_box,
.explain_me>div {
    background-color: rgba(201, 105, 88, .7)
}

@keyframes fromleft {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }

    100%,
    30% {
        opacity: 1;
        transform: translateX(30px)
    }
}

.sub_name {
    top: 10%;
    left: 15%;
    animation: 1s both fromleft;
    animation-timeline: view();
    color: rgba(255, 255, 255, .7);
    font: bold 10rem sans-serif
}

.explain_me {
    top: 35%;
    justify-content: center;
    display: flex
}

.explain_me>div {
    opacity: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: inline-block
}

:is(.one, .two, .three) {
    margin: 1rem 1.5rem;
    animation: 2s bubble;
    animation-timeline: view()
}

.one {
    animation-delay: 0s
}

.two {
    animation-delay: .3s
}

.three {
    animation-delay: .6s
}

@keyframes bubble {
    0% {
        opacity: 0;
        left: 0%;
        transform: translateX(0%)
    }

    100%,
    30% {
        opacity: 1;
        left: 50%;
        transform: translateX(-50%)
    }
}

.explain_me h3 {
    text-align: center;
    color: rgba(205, 188, 163, .8);
    font: 300 2.5rem 'Black Han Sans', sans-serif
}

.img_wrap {
    display: inline-block;
    overflow: hidden
}

.img_wrap:hover:after,
.img_wrap:hover>.sub_text,
.project_img_wrap:hover:after,
.project_img_wrap:hover>.project_link {
    display: block
}

.display_none,
.img_wrap:after,
.img_wrap:hover h3,
.project_img_wrap:after,
.project_link,
.sub_text {
    display: none
}

.img_wrap:after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10
}

.img_wrap:hover .sub_img,
.project_img_wrap:hover .project_main_img {
    transform: scale(1.2)
}

.sub_img {
    transition: .7s;
    margin: 40px auto;
    display: block;
    width: 150px;
    height: 150px
}

.sub_text {
    text-align: center;
    margin: 0 10px;
    color: rgba(255, 255, 255, .8);
    top: 140px;
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR', sans-serif
}

.archiving_name,
.projects_name {
    position: absolute;
    color: rgba(255, 255, 255, .7)
}

.archiving_name {
    z-index: 9;
    top: -20px;
    left: 15%;
    animation: 1s both fromleft;
    animation-timeline: view();
    font: bold 10rem sans-serif
}

/* 깃허브 박스 */

.arch_left_box {
    width: 61vw;
    height: 330px;
    left: 0;
    top: 15%;
    animation: 1s both arch_left_box_ani;
    animation-timeline: view();
    transform-origin: left;
    display: flex;
    justify-content: flex-end;
}

.github_img_wrap {
    /* background-color: #545454; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0px 30px;
}

.github_img {
    width: 200px;
    height: 200px;
    transition: .5s
}

.github_img:hover {
    transform: scale(1.1);
}

.github_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    height: 100%;
}

.github_text>h4,
.t_story_text>h4 {
    color: rgba(231, 221, 205, .8);
    font: 300 2rem/1.5 'Black Han Sans', sans-serif
}

.github_text>p,
.t_story_text>p {
    color: rgba(231, 221, 205, .8);
    font: 400 1.2rem/1.6 'IBM Plex Sans KR', sans-serif
}


@keyframes arch_left_box_ani {
    0% {
        opacity: 0;
        transform: translateX(-400px)
    }

    100%,
    30% {
        opacity: 1;
        transform: translateX(0)
    }
}

/* 티스토리 박스 */
.arch_right_box {
    width: 54vw;
    height: 330px;
    right: 0;
    border-radius: 300px 0 0 300px;
    bottom: 5%;
    animation: 1s forwards arch_right_box_ani;
    animation-timeline: view();
    /* overflow: hidden; */
    display: flex;
    justify-content: space-around;
}

.t_story_img_wrap {
    /* background-color: #806044; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    /* overflow: hidden; */
    margin: 0 30px;
}

.t_story_img {
    width: 250px;
    height: 250px;
    transition: .5s
}


.t_story_img:hover {
    transform: scale(1.1);
}

.t_story_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 800px;
    height: 100%;
}





@keyframes arch_right_box_ani {
    0% {
        opacity: 0;
        right: -300px
    }

    100%,
    30% {
        opacity: 1;
        right: 0
    }
}


/* 프로젝트 */
#projects {
    height: 10500px;
}

.projects_name {
    top: -50px;
    left: 14vw;
    font: bold 10rem sans-serif
}

.horizontal_scroll_wrap {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden
}

.horizontal_scroll_content {
    display: flex;
    height: 100vh;
    width: 550vw;
    will-change: transform;
    margin: 1.5vh 0 0 3vw
}

.about_project {
    display: inline-block;
    width: 70vw;
    margin: 7vw auto;
    background-color: rgba(224, 181, 55, .6);
    border-radius: 200px;
    padding: 0 40px;
    display: flex;
    flex-direction: column
}

.project_line {
    width: 2px;
    height: 96.5vh;
    background-color: rgba(255, 227, 142, .6)
}

/* 프로젝트 세부구조 */

.about_project .content {
    width: 70vw;
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project_img_wrap {
    display: inline-block;
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    display: flex
}


.project_img_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 10
}



.project_main_img {
    transition: .7s;
    display: block;
    width: 100%;
    height: 100%;
}


.project_link {
    position: absolute;
    z-index: 20
}

.shallendar_source_code {
    color: rgba(255, 255, 255, .8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.source_code_link:not(.shallendar_source_code) {
    /* position: absolute; */
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.demo_code_link {
    /* position: absolute; */
    top: 48%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.source_code_link>img {
    width: 10vw;
    height: 18vh
}

.demo_code_link>img {
    width: 10vw;
    height: 20vh
}

.project_link>p {
    text-align: center;
    color: #fff !important;
    font: 100 1.4rem 'Black Han Sans', sans-serif
}

.content h3 {
    margin-bottom: 30px;
    line-height: 1.2;
    color: #545454;
    font: 300 3rem 'Black Han Sans', sans-serif
}

.project_text_wrap>h4 {
    color: #545454;
    font: bold 1.5rem/1.6 'IBM Plex Sans KR', sans-serif;
    max-width: 30vw;
    margin-top: 8px
}

.project_text_wrap h4::before {
    content: "✓";
    color: #2d82a7;
    font: 400 2rem/1 'IBM Plex Sans KR', sans-serif
}

.project_text_wrap p {
    color: #545454;
    font: 400 1rem 'IBM Plex Sans KR', sans-serif
}

.readme_button {
    position: relative;
    height: 6vh;
    margin-top: 20px;
    background-color: transparent;
    color: #545454;
    border: 3px solid #2d82a7;
    border-radius: 30px;
    font: 500 1.2rem 'IBM Plex Sans KR', sans-serif
}

/* contact */
#contact,
.contact_wrap {
    height: 100vh;
    width: 100vw
}

.readme_button:hover {
    cursor: pointer
}

.readme_button::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    content: "";
    border-radius: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    transition: .3s ease-out
}

.readme_button:hover::before {
    opacity: 1
}

.readme_button>span {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    transition: .2s;
    color: #545454
}

#contact {
    position: relative;
    overflow: hidden
}

.contact_name {
    z-index: 1;
    position: absolute;
    top: -30px;
    left: 15vw;
    color: rgba(255, 255, 255, .7);
    font: bold 10rem sans-serif
}

.contact_wrap {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0
}

.contact_img_wrap,
footer {
    overflow: hidden;
    position: relative
}

.contact_img_wrap {
    z-index: 1;
    display: block;
    left: 25vw;
    border-radius: 100px
}

.contact_img_wrap:hover .contact_doyi_img {
    transform: scale(1.2);
    cursor: pointer
}

.contact_doyi_img {
    width: 300px;
    height: 55vh;
    border-radius: 100px;
    transition: .7s
}

.contact_info_doyi {
    text-align: center;
    margin: 0 10px;
    color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 100px;
    height: 100px;
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR', sans-serif
}

.contact_info_wrap,
.contact_text_wrap {
    margin-left: auto;
    width: 65vw;
    height: 100vh;
    border-radius: 300px 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_text_wrap {
    background-color: rgba(45, 130, 167, .7)
}

.contact_info_wrap {
    background-color: #909b57
}

.contact_text_box {
    width: 400px;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.contact_text_box h3 {
    display: block;
    color: rgba(231, 221, 205, .9);
    font: 300 2.3rem/1.5 'Black Han Sans', sans-serif;
    align-items: center
}

.contact_text_box p,
.contact_text_title>img,
.footer_Copyright,
.footer_mail {
    color: rgba(231, 221, 205, .8)
}

.contact_text_box p {
    font: 400 1.6rem/1.2 '나눔고딕', sans-serif;
    margin-bottom: 30px;
    text-align: left;

}

.contact_text_title {
    width: 400px;
    display: flex;
    height: 50px
}

.contact_text_title>img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 5px 10px 0 0
}

/* footer */

footer {
    width: 100%;
    height: 10vh;
    background-color: #806044;
}

.footer_inner {
    margin: 0 auto;
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    padding: 0px 5px;
    width: 30px;
    height: 30px
}

.footer_Copyright,
.footer_mail {
    text-align: center;
    font: 500 1.3rem 'IBM Plex Sans KR', sans-serif
}