@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap);


#main_sub,
#projects,
.img_wrap,
section {
    position: relative
}

.explain_me,
.img_wrap:after,
.sub_box,
.sub_name,
.sub_text {
    position: absolute
}

.sub_box {
    border-radius: 0 300px 300px 0
}


#contact,
#main_sub,
#projects {
    background-color: #b39c7a
}

.container {
    -webkit-animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation-fill-mode: forwards
}

@-webkit-keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}

@keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}

section {
    width: 100%;
    height: 100vh;
    z-index: 1
}

.sub_box {
    width: 500px;
    height: 100vh;
    background-color: #829472;
    top: 0;
    animation: 1s both fromleft;
    animation-timeline: view()
}

.explain_me>div {
    background-color: rgba(201, 105, 88, .7)
}

@keyframes fromleft {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }

    100%,
    30% {
        opacity: 1;
        transform: translateX(30px)
    }
}

.sub_name {
    top: 10%;
    left: 15%;
    animation: 1s both fromleft;
    animation-timeline: view();
    color: rgba(255, 255, 255, .7);
    font: bold 10rem sans-serif
}

.explain_me {
    top: 35%;
    justify-content: center;
    display: flex
}

.explain_me>div {
    opacity: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: inline-block
}

:is(.one, .two, .three) {
    margin: 1rem 1.5rem;
    animation: 2s bubble;
    animation-timeline: view()
}

.one {
    animation-delay: 0s
}

.two {
    animation-delay: .3s
}

.three {
    animation-delay: .6s
}

@keyframes bubble {
    0% {
        opacity: 0;
        left: 0%;
        transform: translateX(0%)
    }

    100%,
    30% {
        opacity: 1;
        left: 50%;
        transform: translateX(-50%)
    }
}

.explain_me h3 {
    text-align: center;
    color: rgba(205, 188, 163, .8);
    font: 300 2.5rem 'Black Han Sans', sans-serif
}

.img_wrap {
    display: inline-block;
    overflow: hidden
}

.img_wrap:hover:after,
.img_wrap:hover>.sub_text {
    display: block
}

.display_none,
.img_wrap:after,
.img_wrap:hover h3,
.sub_text {
    display: none
}

.img_wrap:after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10
}

.img_wrap:hover .sub_img {
    transform: scale(1.2)
}

.sub_img {
    transition: .7s;
    margin: 40px auto;
    display: block;
    width: 150px;
    height: 150px
}

.sub_text {
    width: 90%;
    margin: 0 auto;
    color: rgba(255, 255, 255, .8);
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* contact */
#contact,
.contact_wrap {
    height: 100vh;
    width: 100vw
}

.readme_button:hover {
    cursor: pointer
}

.readme_button::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    content: "";
    border-radius: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    transition: .3s ease-out
}

.readme_button:hover::before {
    opacity: 1
}

.readme_button>span {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    transition: .2s;
    color: #545454
}

#contact {
    position: relative;
    overflow: hidden
}

.contact_name {
    z-index: 1;
    position: absolute;
    top: -30px;
    left: 15vw;
    color: rgba(255, 255, 255, .7);
    font: bold 10rem sans-serif
}

.contact_wrap {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0
}

.contact_img_wrap,
footer {
    overflow: hidden;
    position: relative
}

.contact_img_wrap {
    z-index: 1;
    display: block;
    left: 25vw;
    border-radius: 100px
}

.contact_img_wrap:hover .contact_doyi_img {
    transform: scale(1.2);
    cursor: pointer
}

.contact_doyi_img {
    width: 300px;
    height: 55vh;
    border-radius: 100px;
    transition: .7s
}

.contact_info_doyi {
    text-align: center;
    margin: 0 10px;
    color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 100px;
    height: 100px;
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR', sans-serif
}

.contact_info_wrap,
.contact_text_wrap {
    margin-left: auto;
    width: 65vw;
    height: 100vh;
    border-radius: 300px 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_text_wrap {
    background-color: rgba(45, 130, 167, .7)
}

.contact_info_wrap {
    background-color: #909b57
}

.contact_text_box {
    width: 400px;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.contact_text_box h3 {
    display: block;
    color: rgba(231, 221, 205, .9);
    font: 300 2.3rem/1.5 'Black Han Sans', sans-serif;
    align-items: center
}

.contact_text_box p,
.contact_text_title>img,
.footer_Copyright,
.footer_mail {
    color: rgba(231, 221, 205, .8)
}

.contact_text_box p {
    font: 400 1.6rem/1.2 '나눔고딕', sans-serif;
    margin-bottom: 30px;
    text-align: left;

}

.contact_text_title {
    width: 400px;
    display: flex;
    height: 50px
}

.contact_text_title>img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 5px 10px 0 0
}

/* footer */

footer {
    width: 100%;
    height: 10vh;
    background-color: #806044;
}

.footer_inner {
    margin: 0 auto;
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    padding: 0px 5px;
    width: 30px;
    height: 30px
}

.footer_Copyright,
.footer_mail {
    text-align: center;
    font: 500 1.3rem 'IBM Plex Sans KR', sans-serif
}