section {
    position: relative;
    width: 100%;
    z-index: 1;
}

.container {
    -webkit-animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation: 7s cubic-bezier(.645, .045, .355, 1) container_bg;
    animation-fill-mode: forwards
}

@-webkit-keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}

@keyframes container_bg {
    0% {
        display: none
    }

    100%,
    99% {
        display: block
    }
}

/* 페이지 하단 */
.bottom_link {
    position: fixed;
    z-index: 990;
    bottom: 40px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    -webkit-animation: common_ani_opening 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4s 1;
    animation: common_ani_opening 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4s 1;
    animation-fill-mode: backwards;
}

.bottom_link>div {
    width: 45px;
    height: 45px;
    background-color: var(--sub-color-1);
    border-radius: 100%;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_link>div:hover {
    cursor: pointer;
}

.scroll_guide_img {
    width: 22px;
    height: 22px;
}

.notion_img,
.github_img {
    width: 25px;
    height: 25px;
}

/* 상단 스크롤 진행률 */
.scroll_top {
    z-index: 99;
    background-color: rgb(229, 194, 67);
    overflow: hidden;
    position: fixed;
    transform-origin: 0;
    width: 100vw;
    height: 0.5em;
    animation: grow auto linear both;
    animation-timeline: scroll(root block);
}




@-webkit-keyframes grow {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1)
    }
}


@keyframes grow {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1)
    }

}

@media (min-width: 1600px) {

    .scroll_guide span,
    .scroll_guide_up span {
        width: 35px;
        height: 35px;
    }
}