@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
  /* overflow: hidden; */
}

.intro {
  background-color: #B39C7A;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.intro_text {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.intro_front {
  font: 15rem 'Roboto',
    sans-serif;
  color: #CDBCA3;
  position: absolute;
  width: 100vw;
  text-align: end;
  top: 10%;
  right: 0%;
  /* -webkit-text-stroke: 0.1rem rgb(255, 255, 255); */
  animation: slideLeft 2.5s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s;
  opacity: 0;
}


@keyframes slideLeft {
  0% {
    opacity: 1;
    right: 100%;
  }

  50% {
    right: 3%;
  }

  90% {
    opacity: 1;
  }

  to {
    opacity: 0;
    right: 3%;
  }
}

.intro_leedoyi {
  font: 15rem 'Roboto',
    sans-serif;
  color: #CDBCA3;
  position: absolute;
  width: 100vw;
  text-align: end;
  top: 30%;
  right: 50%;
  /* -webkit-text-stroke: 0.1rem rgb(255, 255, 255); */
  animation: slidecenter 2s cubic-bezier(0.39, 0.58, 0.57, 1) 2.3s;
  opacity: 0;
}

@keyframes slidecenter {
  0% {
    opacity: 1;
    right: 100%;
  }

  50% {
    right: 20%;
  }

  90% {
    opacity: 1;
  }

  to {
    opacity: 0;
    right: 20%;
  }
}

.intro_developer {
  font: 15rem 'Roboto', sans-serif;
  color: #CDBCA3;
  position: absolute;
  width: 100vw;
  text-align: end;
  top: 50%;
  left: -15%;
  /* -webkit-text-stroke: 0.1rem rgb(255, 255, 255); */
  animation: silderight 2.5s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s;
  opacity: 0;
}


@keyframes silderight {
  0% {
    opacity: 1;
    left: 85%;
  }

  50% {
    left: -12%;
  }

  90% {
    opacity: 1;
  }

  to {
    left: -12%;
    opacity: 0;
  }
}

/* animation - fill - mode  +  */

/* image */

.doyi {
  width: 30vw;
  height: 700px;
  position: absolute;
  right: 15%;
  bottom: 0%;
  -webkit-animation: doyi_bg 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.5s 1;
  animation: doyi_bg 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.5s 1;
  animation-fill-mode: backwards;
}

@keyframes doyi_bg {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  78% {
    opacity: 1;
  }

}


/* master */



a {
  margin: 0;
  padding: 0;
  border: 0;
  /* font: 0.9rem 'IBM Plex Sans KR',
    sans-serif; */
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #2c9ab7
}

#master {
  font: 60px/1.5 'Black Han Sans',
    sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: inherit;
  text-rendering: optimizeLegibility
}

#master>div {
  color: #CDBCA3;
  font-family: 'Black Han Sans',
    sans-serif;
}

#master-container {
  position: fixed;
  top: 0px;
  right: 10vw;
  width: 100vw;
  -webkit-animation: master-container-bg 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
  animation: master-container-bg 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
  animation-fill-mode: backwards;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vmin;
  min-height: 0;
  max-height: 100%;
}

#master-container .content {
  height: auto;
  margin-left: inherit;
  margin-right: inherit
}

#master-container-scroller {
  height: 66px;
  margin-bottom: -6px;
  overflow: hidden;
  position: relative
}

#master-container-scroller .master-container-scroller_item {
  display: block;
  padding-bottom: 6px;
  -webkit-animation: scroll 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
  animation: scroll 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
  animation-fill-mode: forwards;
}

#master-container-scroller .master-container-scroller_item[href]:hover {
  text-decoration: underline
}

#master-container-scroller .master-container-scroller_item:nth-child(1),
#master-container-scroller .master-container-scroller_item:nth-child(1) a {
  color: #e0b537
}

#master-container-scroller .master-container-scroller_item:nth-child(2),
#master-container-scroller .master-container-scroller_item:nth-child(2) a {
  color: #c95845
}

#master-container-scroller .master-container-scroller_item:nth-child(3),
#master-container-scroller .master-container-scroller_item:nth-child(3) a {
  color: #2d87ae
}

#master-container-scroller .master-container-scroller_item:nth-child(4),
#master-container-scroller .master-container-scroller_item:nth-child(4) a {
  color: #5f6f52;
}





@media screen and (max-width: 615px) {
  #master {
    font-size: 40px;
  }

  #master-container-scroller .master-container-scroller_item {
    -webkit-animation: scroll_mobile 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
    animation: scroll_mobile 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
  }


  #master-container-scroller {
    height: 48px;
    line-height: 1.2;
    margin-bottom: 0
  }


  #master-container-scroller .master-container-scroller_item {
    padding-bottom: 0;
    -webkit-animation: scroll-mobile 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
    animation: scroll-mobile 5.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4.1s 1;
  }
}



#master-container-grid .master-container-grid_item .img {
  position: relative
}

#master-container-grid .master-container-grid_item .grid_item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  transition: opacity .3s ease-in-out;
  text-decoration: none
}

#master-container-grid .master-container-grid_item .grid_item-overlay:hover {
  opacity: 1
}

#master-container-grid .master-container-grid_item .grid_item-overlay .link {
  display: inline-block;
  box-shadow: 0 1px 0 0 #fff, inset 0 0 0 #fff;
  transition: box-shadow .2s ease
}

#master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
  box-shadow: 0 2px 0 0 #fff, inset 0 -1px 0 0 #fff
}



@-webkit-keyframes master-container-bg {
  0% {
    opacity: 0;
    /* background-color: #F9E7AF */
  }

  7% {
    opacity: 1;
  }

}

@keyframes master-container-bg {
  0% {
    opacity: 0;
  }

  7% {
    opacity: 1;
  }

}

@-webkit-keyframes master-container-bg-mobile {
  0% {
    opacity: 0;
  }

  7% {
    opacity: 1;
  }
}

@keyframes master-container-bg-mobile {
  0% {
    opacity: 0;
  }

  7% {
    opacity: 1;
  }

}

@-webkit-keyframes scroll {
  0.0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }

  7% {
    opacity: 1;
  }

  10% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }

  25% {
    -webkit-transform: translateY(-110px);
    transform: translateY(-110px)
  }

  35% {
    -webkit-transform: translateY(-110px);
    transform: translateY(-110px)
  }

  50% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
  }

  60% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
  }

  75% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }

}

@keyframes scroll {
  0.0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }

  7% {
    opacity: 1;
  }

  10% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }

  25% {
    -webkit-transform: translateY(-110px);
    transform: translateY(-110px)
  }

  35% {
    -webkit-transform: translateY(-110px);
    transform: translateY(-110px)
  }

  50% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
  }

  60% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
  }

  75% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}

@keyframes scroll-mobile {
  0.0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }

  7% {
    opacity: 1;
  }

  10% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }

  25% {
    -webkit-transform: translateY(-47px);
    transform: translateY(-47px);
  }

  35% {
    -webkit-transform: translateY(-47px);
    transform: translateY(-47px);
  }

  50% {
    -webkit-transform: translateY(-94px);
    transform: translateY(-94px);
  }

  60% {
    -webkit-transform: translateY(-94px);
    transform: translateY(-94px);
  }

  75% {
    -webkit-transform: translateY(-141px);
    transform: translateY(-141px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-141px);
    transform: translateY(-141px);
  }
}