$beige: rgb(205, 188, 163);
$yellow-green: #8e9f81;
$green: #4e5c43;
$phone: "screen and (max-width : 600px)";
$tablet: "screen and (max-width : 1000px)";
$desktop: "screen and (max-width : 1300px)";

.intro_wrapper {


    h1 {
        // text-transform: uppercase;
        // text-align: center;
        text-shadow: -1px -1px 0 $yellow-green, 1px -1px 0 $yellow-green, -1px 1px 0 $yellow-green, 1px 1px 0 $yellow-green;

        &:after {
            content: attr(data-heading);
            z-index: 999;
            overflow: hidden;
            color: $beige;
            // transform: translate(0.4vw, 0.3vh);
            mix-blend-mode: darken;
            text-shadow: 1px 0px 0px $yellow-green, 0px 1px 0px $green, 2px 1px 0px $yellow-green, 1px 2px 0px $green, 3px 2px 0px $yellow-green, 2px 3px 0px $green, 4px 3px 0px $yellow-green, 3px 4px 0px $green, 5px 4px 0px $yellow-green, 4px 5px 0px $green, 6px 5px 0px $yellow-green, 5px 6px 0px $green, 7px 6px 0px $yellow-green;
        }
    }
}


@media #{$desktop} {

    // master ani
    #master {
        font: 90 9rem/1.2 'Black Han Sans',
            sans-serif;
    }

    #master-container {
        left: 5vw;
    }

    #master-container-scroller {
        height: 140px;
        margin-bottom: 20px;
    }

    #master-container-scroller .master-container-scroller_item {
        -webkit-animation: scroll-desktop 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-desktop 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes scroll-desktop {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        25% {
            -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
        }

        35% {
            -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
        }

        50% {
            -webkit-transform: translateY(-360px);
            transform: translateY(-360px);
        }

        60% {
            -webkit-transform: translateY(-360px);
            transform: translateY(-360px);
        }

        75% {
            -webkit-transform: translateY(-540px);
            transform: translateY(-540px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-540px);
            transform: translateY(-540px);
        }
    }

    @keyframes scroll-desktop {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        25% {
            -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
        }

        35% {
            -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
        }

        50% {
            -webkit-transform: translateY(-360px);
            transform: translateY(-360px);
        }

        60% {
            -webkit-transform: translateY(-360px);
            transform: translateY(-360px);
        }

        75% {
            -webkit-transform: translateY(-540px);
            transform: translateY(-540px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-540px);
            transform: translateY(-540px);
        }
    }



}

@media #{$tablet} {


    .doyi {
        display: none;

    }

    #master {
        font: 90 5rem/1.2 'Black Han Sans',
            sans-serif;
    }

    #master-container {
        top: 80px;
        height: 80vmin;
        left: 5vw;
    }


    #master-container-scroller .master-container-scroller_item {
        -webkit-animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }


    #master-container-scroller {
        height: 100px;
        margin-bottom: -0.5px;
    }


    #master-container-scroller .master-container-scroller_item {
        padding-bottom: 0;
        -webkit-animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes scroll-tablet {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        25% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        35% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        50% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        60% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        75% {
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }
    }

    @keyframes scroll-tablet {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        25% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        35% {
            -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
        }

        50% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        60% {
            -webkit-transform: translateY(-185px);
            transform: translateY(-185px);
        }

        75% {
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
        }
    }

}

@media #{$phone} {


    // master

    #master {
        font: 90 3rem/1.2 'Black Han Sans',
            sans-serif;
    }

    #master-container {
        top: 150px;
        height: 80vmin;
        left: 7vw;
    }

    #master-container-scroller .master-container-scroller_item {
        -webkit-animation: scroll_mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll_mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }


    #master-container-scroller {
        height: 50px;
        margin-bottom: 10px;
    }


    #master-container-scroller .master-container-scroller_item {
        padding-bottom: 0;
        -webkit-animation: scroll-mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation: scroll-mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes scroll-mobile {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        25% {
            -webkit-transform: translateY(-47px);
            transform: translateY(-47px);
        }

        35% {
            -webkit-transform: translateY(-47px);
            transform: translateY(-47px);
        }

        50% {
            -webkit-transform: translateY(-94px);
            transform: translateY(-94px);
        }

        60% {
            -webkit-transform: translateY(-94px);
            transform: translateY(-94px);
        }

        75% {
            -webkit-transform: translateY(-141px);
            transform: translateY(-141px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-141px);
            transform: translateY(-141px);
        }
    }

    @keyframes scroll-mobile {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        7% {
            opacity: 1;
        }

        10% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }

        25% {
            -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
        }

        35% {
            -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
        }

        50% {
            -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
        }

        60% {
            -webkit-transform: translateY(-110px);
            transform: translateY(-110px);
        }

        75% {
            -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
        }
    }
}