.modal_wrap {
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(207, 151, 79);
    -webkit-animation: modal_ani 2s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation: modal_ani 2s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes modal_ani {
    0% {
        transform: scale3d(0, 0, 1);
        opacity: 1;
    }

    100% {
        transform: scale3d(10, 10, 1);
        opacity: 1;
    }
}

@keyframes modal_ani {
    0% {
        transform: scale3d(0, 0, 1);
        opacity: 1;
    }

    100% {
        transform: scale3d(10, 10, 1);
        opacity: 1;
    }
}