@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

.container {
    -webkit-animation: container_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation: container_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes container_bg {
    0% {
        display: none;
    }

    99% {
        display: block;
    }

    100% {
        display: block;
    }
}

@keyframes container_bg {
    0% {
        display: none;
    }

    99% {
        display: block;
    }

    100% {
        display: block;
    }

}

/* section */
section {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
    /* background-color: #B39C7A; */
}


#main_sub {
    background-color: #B39C7A;
    position: relative;
}

.sub_box {
    width: 500px;
    height: 100vh;
    background-color: #829472;
    border-radius: 0px 300px 300px 0px;
    position: absolute;
    top: 0;
    /* left: -10px; */
    animation: fromleft 1s both;
    animation-timeline: view();
}


@keyframes fromleft {
    0% {
        opacity: 0;
        transform: translateX(-300px);

    }


    30% {
        opacity: 1;
        transform: translateX(30px);

    }

    100% {
        opacity: 1;
        transform: translateX(30px);
    }

}


.sub_name {
    position: absolute;
    top: 10%;
    left: 15%;
    animation: fromleft 1s both;
    animation-timeline: view();
    color: rgba(255, 255, 255, 0.7);
    font: bold 8rem sans-serif;
}


/* #소통하는 #감각있는 #성장하는 */

.explain_me {
    position: absolute;
    top: 35%;
    justify-content: center;
    display: flex;
}

.explain_me>div {
    opacity: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(201, 105, 88, 0.7);
    display: inline-block;
}





:is(.one, .two, .three) {
    margin: 1rem 1.5rem;
    animation: bubble 1s ease;
    animation-timeline: view();
}

.one {
    animation-delay: 0s;
}

.two {
    animation-delay: 0.3s;
}

.three {
    animation-delay: 0.6s;
}



@keyframes bubble {
    0% {
        opacity: 0;
        transform: translateX(0px);

    }


    10% {
        opacity: 1;
        transform: translateX(300px);

    }

    100% {
        opacity: 1;
        transform: translateX(300px);
    }
}


/* sub_img */

.explain_me h3 {
    text-align: center;
    color: rgba(205, 188, 163, 0.8);
    font: 300 2rem 'Black Han Sans',
        sans-serif;
}

.img_wrap {
    display: inline-block;
    position: relative;
}

.img_wrap:hover:after,
.img_wrap:hover>.sub_text {
    display: block;
}

.img_wrap:after,
.sub_text,
.img_wrap:hover h3 {
    display: none;
}

.img_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.img_wrap {
    overflow: hidden;
}



.img_wrap:hover .sub_img {
    transform: scale(1.2);
}

.sub_img {
    transition: 0.7s;
    margin: 40px auto;
    display: block;
    width: 150px;
    height: 150px;
}

.sub_text {
    text-align: center;
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 100px;
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR',
        sans-serif;
}


/* archiving section */

/* #c96958; */

#archiving {
    position: relative;
    background-color: #B39C7A;
}

.archiving_name {
    z-index: 9;
    position: absolute;
    top: -20px;
    left: 15%;
    animation: fromleft 1s both;
    animation-timeline: view();
    color: rgba(255, 255, 255, 0.7);
    font: bold 8rem sans-serif;
}

.github_img_wrap {
    /* width: 100vw;
    display: block;
    justify-content: center; */
}

.github_img {
    float: right;
    margin: 3% 4%;
    width: 200px;
    height: 200px;
    transition: all 0.5s;
}

.github_img:hover {
    width: 220px;
    height: 220px;
}

.github_text {
    width: 800px;
    margin: 60px 0px 0px 15%;
}

.github_text>h4 {
    color: rgba(231, 221, 205, 0.8);
    font: 300 2rem/1.5 'Black Han Sans',
        sans-serif;
}

.github_text>p {
    color: rgba(231, 221, 205, 0.8);
    font: 400 1.3rem/1.6 'IBM Plex Sans KR',
        sans-serif;
}

.arch_left_box {
    width: 61vw;
    height: 38vh;
    left: 0px;
    background-color: rgba(201, 105, 88, 0.7);
    border-radius: 0px 300px 300px 0px;
    position: absolute;
    top: 15%;
    animation: arch_left_box_ani 1s both;
    animation-timeline: view();
    transform-origin: left;

}


@keyframes arch_left_box_ani {
    0% {
        opacity: 0;
        transform: translateX(-400px);

    }


    30% {
        opacity: 1;
        transform: translateX(0px);

    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

.t_story_img_wrap {
    width: 250px;
}

.t_story_img {
    margin: 1% 2%;
    float: left;
    width: 250px;
    height: 250px;
    transition: all 0.5s;
}

.t_story_img:hover {
    width: 270px;
    height: 270px;
}

.t_story_text {
    float: right;
    width: 510px;
    margin-top: 27px;
}

.t_story_text>h4 {
    color: rgba(231, 221, 205, 0.8);
    font: 300 2rem/1.5 'Black Han Sans',
        sans-serif;
}

.t_story_text>p {
    color: rgba(231, 221, 205, 0.8);
    font: 400 1.3rem/1.5 'IBM Plex Sans KR',
        sans-serif;
}

.arch_right_box {
    position: absolute;
    width: 54vw;
    height: 38vh;
    right: 0px;
    background-color: rgba(201, 105, 88, 0.7);
    border-radius: 300px 0px 0px 300px;
    bottom: 5%;
    animation: arch_right_box_ani 1s both;
    animation-timeline: view();
    animation-fill-mode: forwards;
    overflow: hidden;
}


@keyframes arch_right_box_ani {
    0% {
        opacity: 0;
        right: -300px;
    }

    30% {
        opacity: 1;
        right: 0px;
    }

    100% {
        opacity: 1;
        right: 0px;
    }

}

/* projects 시작!!! */

/* height값이 scroll전체 width 값이 된다.  */
/* about-project개수따라 height값 늘리기 */

#projects {
    background-color: #B39C7A;
    position: relative;
    height: 1000vh;
    /* animation: pro_bg_change 1s both 0.3s;
    animation-timeline: view(); */
}

@keyframes pro_bg_change {
    /* 0% {
        background-color: #c96958;
    }

    50% {
        background-color: #ceb15a;
    } */
}

.projects_name {
    position: absolute;
    top: -20px;
    left: 13vw;
    color: rgba(255, 255, 255, 0.7);
    font: bold 8rem sans-serif;
}

/* 여기에 width값 설정하면 제한이 생김  */
/* 다음 section으로 안넘어가게 해줌 */

.horizontal_scroll_wrap {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}


/* scroll_width값 설정 - about-project개수따라 width값 늘리기 */

.horizontal_scroll_content {
    display: flex;
    height: 100vh;
    width: 500vw;
    will-change: transform;
    margin: 2vh 0 0 3vw;
}

/* projects배경 */

.about_project {
    display: inline-block;
    width: 75vw;
    margin: 5vw auto;
    background-color: rgba(224, 181, 55, 0.6);
    border-radius: 200px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
}

.project_line {
    width: 2px;
    height: 96.5vh;
    background-color: rgba(255, 227, 142, 0.6);
}


.about_project .content {
    /* height: 50%; */
    width: 70vw;
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center;
}


/* project_img 효과 */


/* project_img  크기 hover시 영향 */
.project_img_wrap {
    display: inline-block;
    position: relative;
    /* width: 33vw; */
    /* height: 40vh; */
    margin: 0 3.5vw;
}

.project_img_wrap:hover:after,
.project_img_wrap:hover>.project_link {
    display: block;
}

.project_img_wrap:after,
.project_link {
    display: none;
}

.project_img_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.project_img_wrap {
    overflow: hidden;
    display: flex;
}


.project_img_wrap:hover .APMA_img {
    transform: scale(1.2);
}

/* project_img 실제 크기 */
.APMA_img {
    transition: 0.7s;
    display: block;
    width: 30vw;
    height: 40vh;
}

.project_link {
    margin: 9vh 3.5vw;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR',
        sans-serif;
}

.source_code_link {}

.demo_code_link {
    top: -12px;
    left: 200px;
}

.source_code_link>img {
    width: 10vw;
    height: 18vh;
}

.demo_code_link>img {
    width: 10vw;
    height: 20vh;
}

.project_link>p {
    text-align: center;
    color: white !important;
    font: 100 1.4rem 'Black Han Sans',
            sans-serif;
}



/* project explain */

.about_project .content h3 {
    max-width: 30vw;
    margin-top: 0px;
    line-height: 1.2;
    color: rgba(231, 221, 205,1);
    font: 300 3rem 'Black Han Sans',
        sans-serif;
}

.about_project .content h4 {
   
    color: rgba(231, 221, 205, 1);
    font: bold 1.5rem/1.6 'IBM Plex Sans KR',
        sans-serif;
    max-width: 30vw;
    margin-top: 8px;

}
.project_text_wrap h4::before{
    content: "✓";
    color: #2d82a7;
    font: 400 2rem/1 'IBM Plex Sans KR',
            sans-serif;
    /* font-size: 50px; */

}

.project_text_wrap p{
        color: rgba(231, 221, 205, 1);
font: 400 1rem 'IBM Plex Sans KR',
        sans-serif;
}

.project_text_wrap button{
    height: 6vh;
    margin-top: 20px;
    background-color: transparent;
    color: rgba(231, 221, 205, 1);
    border: 3px solid #2d82a7;
    border-radius: 30px;
    font: 500 1.2rem 'IBM Plex Sans KR',
            sans-serif;
}

.project_text_wrap button:hover{
    cursor: pointer;
}

/* :active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
} */

/* .btn.hover-opacity::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.btn.hover-opacity:hover::before {
    opacity: 1;
} */

/* .btn-2::before {
    background-color: rgb(28, 31, 30);
    transition: 0.3s ease-out;
}

.btn-2 span {
    color: rgb(28, 31, 30);
    border: 1px solid rgb(28, 31, 30);
    transition: 0.2s;
}

.btn-2 span:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s 0.1s;
} */


/* contact */

#contact {
    animation: con_bg_change 1s both 0.3s;
    animation-timeline: view();
}

@keyframes con_bg_change {
    0% {
        background-color: #ceb15a;
    }

    50% {
        background-color: #408fb0;
    }
}



@media screen and (max-width : 1300px) {
    /* 
     main_sub  */


    .sub_name {
        top: 10%;
        font: bold 7rem sans-serif;
    }

    /* #소통하는 #감각있는 #성장하는 */
    .explain_me {
        width: 80vw;
    }

    .explain_me>div {
        width: 270px;
        height: 270px;
    }

    :is(.img_wrap, .two, .three) {
        animation: bubble_desktop 1s ease;
        animation-timeline: view();
    }

    .one {
        animation-delay: 0s;
    }

    .two {
        animation-delay: 0.3s;
    }

    .three {
        animation-delay: 0.6s;
    }


    @keyframes bubble_desktop {
        0% {
            opacity: 0;
            transform: translateX(0px);
        }

        10% {
            opacity: 1;
            transform: translateX(150px);
        }

        100% {
            opacity: 1;
            transform: translateX(150px);
        }
    }

    .explain_me h3 {
        font: 300 1.8rem 'Black Han Sans',
            sans-serif;
        margin-top: -15px;
    }


    /* archiving */
    /* github */

    .github_img {
        margin: 5% 4% 0px 0px;
        width: 180px;
        height: 180px;
    }

    .github_img:hover {
        width: 190px;
        height: 190px;
    }

    .github_text {
        width: 34vw;
        margin: 60px 0px 0px 14%;
    }

    .github_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .github_text>p {
        font: 400 1rem/2 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_left_box {
        width: 68vw;
        height: 38vh;
        left: 0px;
        top: 15%;
    }

    /* t-story */

    .t_story_img {
        margin: 3% 2% 0px 1%;
        width: 230px;
        height: 230px;
        transition: all 0.5s;
    }

    .t_story_img:hover {
        width: 240px;
        height: 240px;
    }

    .t_story_text {
        width: 34vw;
    }

    .t_story_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .t_story_text>p {
        font: 400 1rem/2 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_right_box {
        width: 60vw;
        height: 38vh;
        right: 0px;
        overflow: hidden;
    }
}


@media screen and (max-width : 1000px) {
    #main_sub {
        height: 150vh;
    }

    .sub_box {
        width: 500px;
        height: 120vh;
        top: 5%;
        left: -10px;
    }

    /*main_sub */
    .sub_name {
        left: 10%;
        top: 0%;
        font: bold 5rem sans-serif;
    }

    /* #소통하는 #감각있는 #성장하는 */
    .explain_me {
        left: 0px;
        top: 10%;
        width: 70vw;
        flex-direction: column;
        align-items: center;
    }


    .sub_text {
        font: bold 1.3rem/1.5 'IBM Plex Sans KR',
            sans-serif;
    }


    /* archiving */
    #archiving {
        height: 165vh;
    }

    .archiving_name {
        top: -10px;
        left: 10vw;
        font: bold 5rem sans-serif;
    }

    /* github */
    .github_img {
        display: block;
        float: none;
        margin: 6vh auto;
        width: 210px;
        height: 210px;
    }

    .github_img:hover {
        width: 220px;
        height: 220px;
    }

    .github_text {
        display: block;
        width: 400px;
        height: 20vh;
        margin: 0 auto;
    }

    .github_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .github_text>p {
        font: 400 1.1rem/1.7 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_left_box {
        width: 80vw;
        height: 80vh;
        top: 5%;
        animation: arch_left_box_ani 1s both;
        animation-timeline: view();
        transform-origin: left;

    }

    @keyframes arch_left_box_ani {
        0% {
            opacity: 0;
            transform: translateX(-300px);

        }


        30% {
            opacity: 1;
            transform: translateX(70px);

        }

        100% {
            opacity: 1;
            transform: translateX(70px);
        }

    }

    .t_story_img {
        margin: 4vh auto;
        display: block;
        float: none;
        width: 250px;
        height: 250px;
        transition: all 0.5s;
    }

    .t_story_img:hover {
        width: 260px;
        height: 260px;
    }

    .t_story_text {
        display: block;
        float: none;
        width: 400px;
        margin: 0 auto;
    }

    .t_story_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .t_story_text>p {
        font: 400 1.1rem/1.7 'IBM Plex Sans KR',
            sans-serif;
    }


    .arch_right_box {
        width: 80vw;
        height: 80vh;
        bottom: 5%;
    }


}

@media screen and (max-width : 650px) {
    #main_sub {
        height: 150vh;
    }

    .sub_box {
        width: 350px;
        height: 150vh;
        top: 0%;
        left: -10px;
    }

    /*main_sub */
    .sub_name {
        left: 10%;
        top: 0%;
        font: bold 3.5rem sans-serif;
    }

    /* #소통하는 #감각있는 #성장하는 */
    .explain_me {
        left: 0px;
        top: 10%;
        width: 50vw;
        flex-direction: column;
        align-items: center;
    }

    .explain_me>div {
        width: 270px;
        height: 270px;
    }

    .explain_me h3 {
        font: 300 1.8rem 'Black Han Sans',
            sans-serif;
        margin-top: -15px;
    }

    /* archiving */
    .archiving_name {
        top: 10px;
        font: bold 3.5rem sans-serif;
    }

    /* github */
    .github_img {
        width: 200px;
        height: 200px;
    }

    .github_img:hover {
        width: 210px;
        height: 210px;
    }

    .github_text {
        width: 270px;
        height: 20vh;
        margin-left: 7vw;
    }

    .github_text>h4 {
        font: 300 1.5rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .github_text>p {
        font: 400 1rem/1.5 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_left_box {
        animation: arch_left_box_ani 1s both;
        animation-timeline: view();
        transform-origin: left;

    }

    @keyframes arch_left_box_ani {
        0% {
            opacity: 0;
            transform: translateX(-300px);

        }


        30% {
            opacity: 1;
            transform: translateX(50px);

        }

        100% {
            opacity: 1;
            transform: translateX(50px);
        }

    }

    .t_story_img {
        margin: 2vh 0px -2vh 20vw;
    }

    .t_story_text {
        width: 280px;
        margin: 0 auto;
        padding-left: 10vw;
    }

    .t_story_text>h4 {
        font: 300 1.5rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .t_story_text>p {
        font: 400 1rem/1.5 'IBM Plex Sans KR',
            sans-serif;
    }

}