.container {
    -webkit-animation: container_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation: container_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes container_bg {
    0% {
        display: none;
    }

    99% {
        display: block;
    }

    100% {
        display: block;
    }
}

@keyframes container_bg {
    0% {
        display: none;
    }

    99% {
        display: block;
    }

    100% {
        display: block;
    }

}

/* section */
section {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
    background-color: #B39C7A;
}


.box {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    animation: fromleft 0.1s both;
    animation-timeline: view();
}

@-webkit-keyframes fromleft {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(200px);
    }
}

@keyframes fromleft {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }


    100% {
        opacity: 1;
        transform: translate(500px);
    }

}

#main_sub {
    overflow: hidden;
    background-color: #5f6f52;
}

.sub_svg{
    position: absolute;
    left: -1000px;
    bottom: -100px;
    transform: rotate(90deg);
    z-index: 1;
}



#archiving {
    background-color: #c96958;
    animation: arch_bg_change 1s both 0.3s;
    animation-timeline: view();
}

@keyframes arch_bg_change {
    0% {
        background-color: #5f6f52;
    }

    50% {
        background-color: #c96958;
    }
}

#projects {
    background-color: #408fb0;
    animation: pro_bg_change 1s both 0.3s;
    animation-timeline: view();
}


@keyframes pro_bg_change {
    0% {
        background-color: #c96958;
    }

                 50%{
        background-color: #408fb0;
    }
}


#contact {
    background-color: #ceb15a;
    animation: con_bg_change 1s both 0.3s;
    animation-timeline: view();
}

@keyframes con_bg_change {
    0% {
        background-color: #408fb0;
    }

 50% {
        background-color: #ceb15a;
    }
}