@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

.container {
    -webkit-animation: container_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation: container_bg 7s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes container_bg {
    0% {
        display: none;
    }

    99% {
        display: block;
    }

    100% {
        display: block;
    }
}

@keyframes container_bg {
    0% {
        display: none;
    }

    99% {
        display: block;
    }

    100% {
        display: block;
    }

}

/* section */
section {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
    /* background-color: #B39C7A; */
}


#main_sub {
    background-color: #B39C7A;
    position: relative;
}

.sub_box {
    width: 500px;
    height: 100vh;
    background-color: #829472;
    border-radius: 0px 300px 300px 0px;
    position: absolute;
    top: 0;
    /* left: -10px; */
    animation: fromleft 1s both;
    animation-timeline: view();
}


@keyframes fromleft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    30% {
        opacity: 1;
        transform: translateX(30px);

    }

    100% {
        opacity: 1;
        transform: translateX(30px);
    }

}


.sub_name {
    position: absolute;
    top: 10%;
    left: 15%;
    animation: fromleft 1s both;
    animation-timeline: view();
    color: rgba(255, 255, 255, 0.7);
    font: bold 8rem sans-serif;
}


/* #소통하는 #감각있는 #성장하는 */

.explain_me {
    position: absolute;
    top: 35%;
    justify-content: center;
    display: flex;
}

.explain_me>div {
    opacity: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(201, 105, 88, 0.7);
    display: inline-block;
}


:is(.one, .two, .three) {
    margin: 1rem 1.5rem;
    animation: bubble 2s ease;
    animation-timeline: view();
}

.one {
    animation-delay: 0s;
}

.two {
    animation-delay: 0.3s;
}

.three {
    animation-delay: 0.6s;
}



@keyframes bubble {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    30% {
        opacity: 1;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(300px);
    }
}


/* sub_img */

.explain_me h3 {
    text-align: center;
    color: rgba(205, 188, 163, 0.8);
    font: 300 2rem 'Black Han Sans',
        sans-serif;
}

.img_wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.img_wrap:hover:after,
.img_wrap:hover>.sub_text {
    display: block;
}

.img_wrap:after,
.sub_text,
.img_wrap:hover h3 {
    display: none;
}

.img_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.img_wrap:hover .sub_img {
    transform: scale(1.2);
}

.sub_img {
    transition: 0.7s;
    margin: 40px auto;
    display: block;
    width: 150px;
    height: 150px;
}

.sub_text {
    text-align: center;
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 100px;
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR',
        sans-serif;
}


/* archiving section */

/* #c96958; */

#archiving {
    position: relative;
    background-color: #B39C7A;
}

.archiving_name {
    z-index: 9;
    position: absolute;
    top: -20px;
    left: 15%;
    animation: fromleft 1s both;
    animation-timeline: view();
    color: rgba(255, 255, 255, 0.7);
    font: bold 8rem sans-serif;
}

.github_img_wrap {
    /* width: 100vw;
    display: block;
    justify-content: center; */
}

.github_img {
    float: right;
    margin: 3% 4%;
    width: 200px;
    height: 200px;
    transition: all 0.5s;
}

.github_img:hover {
    width: 220px;
    height: 220px;
}

.github_text {
    width: 800px;
    margin: 60px 0px 0px 15%;
}

.github_text>h4 {
    color: rgba(231, 221, 205, 0.8);
    font: 300 2rem/1.5 'Black Han Sans',
        sans-serif;
}

.github_text>p {
    color: rgba(231, 221, 205, 0.8);
    font: 400 1.3rem/1.6 'IBM Plex Sans KR',
        sans-serif;
}

.arch_left_box {
    width: 61vw;
    height: 38vh;
    left: 0px;
    background-color: rgba(201, 105, 88, 0.7);
    border-radius: 0px 300px 300px 0px;
    position: absolute;
    top: 15%;
    animation: arch_left_box_ani 1s both;
    animation-timeline: view();
    transform-origin: left;

}


@keyframes arch_left_box_ani {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }


    30% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

.t_story_img_wrap {
    width: 250px;
}

.t_story_img {
    margin: 1% 2%;
    float: left;
    width: 250px;
    height: 250px;
    transition: all 0.5s;
}

.t_story_img:hover {
    width: 270px;
    height: 270px;
}

.t_story_text {
    float: right;
    width: 510px;
    margin-top: 27px;
}

.t_story_text>h4 {
    color: rgba(231, 221, 205, 0.8);
    font: 300 2rem/1.5 'Black Han Sans',
        sans-serif;
}

.t_story_text>p {
    color: rgba(231, 221, 205, 0.8);
    font: 400 1.3rem/1.5 'IBM Plex Sans KR',
        sans-serif;
}

.arch_right_box {
    position: absolute;
    width: 54vw;
    height: 38vh;
    right: 0px;
    background-color: rgba(201, 105, 88, 0.7);
    border-radius: 300px 0px 0px 300px;
    bottom: 5%;
    animation: arch_right_box_ani 1s both;
    animation-timeline: view();
    animation-fill-mode: forwards;
    overflow: hidden;
}


@keyframes arch_right_box_ani {
    0% {
        opacity: 0;
        right: -300px;
    }

    30% {
        opacity: 1;
        right: 0px;
    }

    100% {
        opacity: 1;
        right: 0px;
    }

}

/* projects 시작!!! */

/* height값이 scroll전체 width 값이 된다.about-project개수따라 height값 늘리기 */

#projects {
    background-color: #B39C7A;
    position: relative;
    height: 1180vh;
}

.projects_name {
    position: absolute;
    top: -50px;
    left: 14vw;
    color: rgba(255, 255, 255, 0.7);
    font: bold 9rem sans-serif;
}

/* 여기에 width값 설정하면 제한이 생김  */
/* 다음 section으로 안넘어가게 해줌 */

.horizontal_scroll_wrap {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

/* scroll_width값 설정 - about-project개수따라 width값 늘리기 */

.horizontal_scroll_content {
    display: flex;
    height: 100vh;
    width: 600vw;
    will-change: transform;
    margin: 1.5vh 0 0 3vw;
}

/* projects배경 */

.about_project {
    display: inline-block;
    width: 75vw;
    margin: 5vw auto;
    background-color: rgba(224, 181, 55, 0.6);
    border-radius: 200px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
}

.project_line {
    width: 2px;
    height: 96.5vh;
    background-color: rgba(255, 227, 142, 0.6);
}

.about_project .content {
    /* height: 50%; */
    width: 70vw;
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center;
}

/* project_img 효과 */


/* project_img  크기 hover시 영향 */
.project_img_wrap {
    display: inline-block;
    position: relative;
    width: 30vw;
    height: 40vh;
    margin: 0 3.5vw;
    overflow: hidden;
    display: flex;
}

.project_img_wrap:hover:after,
.project_img_wrap:hover>.project_link {
    display: block;
}

.project_img_wrap:after,
.project_link {
    display: none;
}

.project_img_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.project_img_wrap:hover .project_main_img {
    transform: scale(1.2);
}

/* project_img 실제 크기 */
.project_main_img {
    transition: 0.7s;
    display: block;
    width: 30vw;
    height: 40vh;
}

.project_link {
    margin: 9vh 3.5vw;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 20;
}

.source_code_link {}

.demo_code_link {
    top: -12px;
    left: 200px;
}

.source_code_link>img {
    width: 10vw;
    height: 18vh;
}

.demo_code_link>img {
    width: 10vw;
    height: 20vh;
}

.project_link>p {
    text-align: center;
    color: white !important;
    font: 100 1.4rem 'Black Han Sans',
        sans-serif;
}

/* project explain */

.project_text_wrap>h3 {
    max-width: 50vw;
    margin-top: 0px;
    line-height: 1.2;
    color: rgb(84, 84, 84);
    font: 300 3rem 'Black Han Sans',
        sans-serif;
}

.project_text_wrap>h4 {
    color: rgb(84, 84, 84);
    font: bold 1.5rem/1.6 'IBM Plex Sans KR',
        sans-serif;
    max-width: 30vw;
    margin-top: 8px;

}

.project_text_wrap h4::before {
    content: "✓";
    color: #2d82a7;
    font: 400 2rem/1 'IBM Plex Sans KR',
        sans-serif;
    /* font-size: 50px; */

}

.project_text_wrap p {
    color: rgb(84, 84, 84);
    font: 400 1rem 'IBM Plex Sans KR',
        sans-serif;
}

/* readme_button */

.readme_button {
    position: relative;
    height: 6vh;
    margin-top: 20px;
    background-color: transparent;
    color: rgb(84, 84, 84);
    border: 3px solid #2d82a7;
    border-radius: 30px;
    font: 500 1.2rem 'IBM Plex Sans KR',
        sans-serif;
}

.readme_button:hover {
    cursor: pointer;
}

.readme_button::before {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    content: "";
    border-radius: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.3s ease-out;
}

.readme_button:hover::before {
    opacity: 1;
}

.readme_button>span {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    transition: 0.2s;
    color: rgb(84, 84, 84);
}


/* contact */

#contact {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #B39C7A;
    overflow: hidden;
}

.contact_name {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 15vw;
    color: rgba(255, 255, 255, 0.7);
    font: bold 8rem sans-serif;
}


/* contact는 전체 박스 top조절 */

.contact_wrap {
    /* margin: 0 auto; */
    /* padding: 0vh 0 0 0vw; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* contact_img hover시 영향, img left 이거 */
.contact_img_wrap {
    z-index: 1;
    position: relative;
    display: block;
    overflow: hidden;
    left: 25vw;
    border-radius: 100px;
}

.contact_img_wrap:hover .contact_doyi_img {
    transform: scale(1.2);
    cursor: pointer;
}

/* contact_doyi_img 실제 크기 */
.contact_doyi_img {
    width: 270px;
    height: 55vh;
    border-radius: 100px;
    transition: 0.7s;
}

.contact_info_doyi {
    text-align: center;
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 100px;
    height: 100px;
    z-index: 20;
    font: bold 1.5rem/1.5 'IBM Plex Sans KR',
        sans-serif;
}

.contact_text_wrap {
    margin-left: auto;
    display: block;
    width: 65vw;
    height: 100vh;
    border-radius: 300px 0px 0px 300px;
    background-color: rgba(45, 130, 167, 0.7);
}

.contact_info_wrap {
    display: block;
    margin-left: auto;
    width: 65vw;
    height: 100vh;
    border-radius: 300px 0px 0px 300px;
    background-color: #909b57;
}

.display_none {
    display: none;
}

.contact_text_box {
    margin: 20vh auto;
    width: 300px;
}

.contact_text_box h3 {
    display: block;
    color: rgba(231, 221, 205, 0.9);
    font: 300 2rem/1.5 'Black Han Sans',
        sans-serif;
    align-items: center;
}

.contact_text_box p {
    color: rgba(231, 221, 205, 0.8);
    font: 400 1.3rem/1.2 '나눔고딕',
        sans-serif;
    margin-bottom: 30px;

}

.contact_text_title {
    width: 200px;
    display: flex;
    height: 50px;
}

.contact_text_title>img {
    width: 35px;
    height: 35px;
    display: block;
    margin: 5px 10px 0 0;
    color: rgba(231, 221, 205, 0.8);
}

/* footer */

footer {
    overflow: hidden;
    width: 100vw;
    height: 10vh;
    position: relative;
    background-color: #806044;
}

.footer_Copyright {
    float: left;
    text-align: center;
    padding-left: 100px;
    color: rgba(231, 221, 205, 0.8);
    font: 500 1rem/65px 'IBM Plex Sans KR',
        sans-serif;
}

.footer_mail {
    padding-right: 180px;
    color: rgba(231, 221, 205, 0.8);
    height: 10px;
    text-align: center;
    /* line-height: 65px; */
    font: 500 1rem/65px 'IBM Plex Sans KR',
        sans-serif;
}

.footer_link_wrap {
    float: right;
    margin-right: 30px;
}

footer img {
    padding: 8px 5px;
    width: 30px;
    height: 30px;
}


/* 미디어 쿼리 시작 */
@media screen and (max-width : 1300px) {

    /* 
     main_sub  */
    .sub_name {
        top: 10%;
        font: bold 7rem sans-serif;
    }

    /* #소통하는 #감각있는 #성장하는 */
    .explain_me {
        width: 80vw;
    }

    .explain_me>div {
        width: 270px;
        height: 270px;
    }

    :is(.img_wrap, .two, .three) {
        animation: bubble_desktop 1s ease;
        animation-timeline: view();
    }

    .one {
        animation-delay: 0s;
    }

    .two {
        animation-delay: 0.3s;
    }

    .three {
        animation-delay: 0.6s;
    }


    @keyframes bubble_desktop {
        0% {
            opacity: 0;
            transform: translateX(0px);
        }

        10% {
            opacity: 1;
            transform: translateX(150px);
        }

        100% {
            opacity: 1;
            transform: translateX(150px);
        }
    }

    .explain_me h3 {
        font: 300 1.8rem 'Black Han Sans',
            sans-serif;
        margin-top: -15px;
    }


    /* archiving */
    /* github */

    .github_img {
        margin: 5% 4% 0px 0px;
        width: 180px;
        height: 180px;
    }

    .github_img:hover {
        width: 190px;
        height: 190px;
    }

    .github_text {
        width: 34vw;
        margin: 60px 0px 0px 14%;
    }

    .github_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .github_text>p {
        font: 400 1rem/2 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_left_box {
        width: 68vw;
        height: 38vh;
        left: 0px;
        top: 15%;
    }

    /* t-story */

    .t_story_img {
        margin: 3% 2% 0px 1%;
        width: 230px;
        height: 230px;
        transition: all 0.5s;
    }

    .t_story_img:hover {
        width: 240px;
        height: 240px;
    }

    .t_story_text {
        width: 34vw;
    }

    .t_story_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .t_story_text>p {
        font: 400 1rem/2 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_right_box {
        width: 60vw;
        height: 38vh;
        right: 0px;
        overflow: hidden;
    }

    /* projects_section_1300px */
    
           #projects {
               height:975vh;
           }

    .projects_name {
        top: -50px;
        left: 15vw;
        font: bold 8rem sans-serif;
    }

    .horizontal_scroll_content {
        margin: 2vh 0 0 4.5vw;
    }

    /* project_img  크기 hover시 영향 */
    .project_img_wrap {
        width: 280px;
        height: 25vh;
        margin: 0 2vw;
    }

    /* 미디워쿼리 1300px project를 완성하세요 */
    /* projects배경 */
    /* project_img 실제 크기 */
    .project_main_img {
        width: 280px;
        height: 25vh;
    }

    .project_text_wrap>h3 {
        max-width: 50vw;
        font: 300 2.5rem 'Black Han Sans',
            sans-serif;
    }

    .project_text_wrap>h4 {
        font: bold 1.3rem/1.6 'IBM Plex Sans KR',
            sans-serif;
        max-width: 30vw;
    }

    /* projects배경 */

    .about_project {
        width: 70vw;
        margin: 7vw auto;
    }

    /* project_link_img */
    .project_link {
        margin: 4vh 30px;
    }


    .demo_code_link {
        top: -12px;
        left: 11vw;
    }

    .source_code_link>img {
        width: 80px;
        height: 100px;
    }

    .demo_code_link>img {
        width: 80px;
        height: 112px;
    }

    .project_link>p {
        font: 100 1rem 'Black Han Sans',
            sans-serif;
    }

    /* contact 1300px */
    .contact_name {
        left: 15vw;
        font: bold 8rem sans-serif;
    }

    .contact_text_box {
        margin: 22vh 0 0 27vw;
        width: 300px;
    }

    /* footer 1300px*/

    .footer_Copyright {
        font: 500 0.9rem/65px 'IBM Plex Sans KR',
            sans-serif;
    }

    .footer_mail {
        padding-right: 150px;
        font: 500 0.9rem/65px 'IBM Plex Sans KR',
            sans-serif;
    }

    .footer_link_wrap {
        margin-right: 20px;
    }

    footer img {
        padding: 8px 4px;
        width: 27px;
        height: 27px;
    }

}

@media screen and (max-width : 1000px) {
    #main_sub {
        height: 1050px
    }

    .sub_box {
        width: 500px;
        height: 120vh;
        top: 5%;
        left: -10px;
    }

    /*main_sub */
    .sub_name {
        left: 10%;
        top: 0%;
        font: bold 5rem sans-serif;
    }

    /* #소통하는 #감각있는 #성장하는 */
    .explain_me {
        left: 0px;
        top: 10%;
        width: 70vw;
        flex-direction: column;
        align-items: center;
    }


    .sub_text {
        font: bold 1.3rem/1.5 'IBM Plex Sans KR',
            sans-serif;
    }


    /* archiving */
    #archiving {
        height: 165vh;
    }

    .archiving_name {
        top: -10px;
        left: 10vw;
        font: bold 5rem sans-serif;
    }

    /* github */
    .github_img {
        display: block;
        float: none;
        margin: 6vh auto;
        width: 210px;
        height: 210px;
    }

    .github_img:hover {
        width: 220px;
        height: 220px;
    }

    .github_text {
        display: block;
        width: 400px;
        height: 20vh;
        margin: 0 auto;
    }

    .github_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .github_text>p {
        font: 400 1.1rem/1.7 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_left_box {
        width: 80vw;
        height: 80vh;
        top: 5%;
        animation: arch_left_box_ani 1s both;
        animation-timeline: view();
        transform-origin: left;

    }

    @keyframes arch_left_box_ani {
        0% {
            opacity: 0;
            transform: translateX(-300px);

        }


        30% {
            opacity: 1;
            transform: translateX(70px);

        }

        100% {
            opacity: 1;
            transform: translateX(70px);
        }

    }

    .t_story_img {
        margin: 4vh auto;
        display: block;
        float: none;
        width: 250px;
        height: 250px;
        transition: all 0.5s;
    }

    .t_story_img:hover {
        width: 260px;
        height: 260px;
    }

    .t_story_text {
        display: block;
        float: none;
        width: 400px;
        margin: 0 auto;
    }

    .t_story_text>h4 {
        font: 300 1.7rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .t_story_text>p {
        font: 400 1.1rem/1.7 'IBM Plex Sans KR',
            sans-serif;
    }


    .arch_right_box {
        width: 80vw;
        height: 80vh;
        bottom: 5%;
    }

    /* projects_section_1000px */

    #projects {
        height: 780vh;
    }

    .projects_name {
        top: -15px;
        left: 12vw;
        font: bold 5rem sans-serif;
    }

    .horizontal_scroll_content {
        margin: 20px 0 0 8vw;
    }

    .about_project {
        height: 85vh;
    }

    .about_project .content {
        margin: 6vh auto;
        flex-direction: column;
    }

    /* project_img  크기 hover시 영향 */
    .project_img_wrap {
        width: 320px;
        height: 28vh;
    }

    /* 미디워쿼리 1000px project를 완성하세요 */
    /* projects배경 */
    /* project_img 실제 크기 */
    .project_main_img {
        border-radius: 10px;
        transition: 0.7s;
        width: 320px;
        height: 28vh;
    }

    .project_text_wrap {
        display: block;
    }

    /* project_img  크기 hover시 영향 */
    .project_img_wrap {
        border-radius: 10px;
    }


    /* project explain */

    .project_text_wrap>h3 {
        margin-top: 20px;
        font: 300 2rem/1.2 'Black Han Sans',
            sans-serif;
    }

    .project_text_wrap>h4 {
        font: bold 1rem/1.3 'IBM Plex Sans KR',
            sans-serif;
    }

    .project_text_wrap h4::before {
        font: 400 1rem/1 'IBM Plex Sans KR',
            sans-serif;
    }

    .project_text_wrap p {
        font: 400 0.8rem 'IBM Plex Sans KR',
            sans-serif;
    }

    /* project_link_img */
    .project_link {
        margin: 6vh 6vw;
        font: bold 1.5rem/1.5 'IBM Plex Sans KR',
            sans-serif;
    }

    .source_code_link {
        left: 5px;
    }

    .demo_code_link {
        top: -10px;
        left: 140px;
    }

    .source_code_link>img {
        width: 90px;
        height: 90px;
    }

    .demo_code_link>img {
        width: 90px;
        height: 100px;
    }

    /* readme_button */

    .readme_button {
        height: 5vh;
        margin-top: 10px;
        font: 500 1rem 'IBM Plex Sans KR',
            sans-serif;
    }

    /* contact */
    .contact_name {
        left: 17vw;
        font: bold 5rem sans-serif;
    }

    /* contact_img hover시 영향, img left 이거 */
    .contact_img_wrap {
        left: 20vw;
        border-radius: 100px;
    }

    /* contact_doyi_img 실제 크기 */
    .contact_doyi_img {
        width: 230px;
        height: 50vh;
    }

    .contact_text_box {
        margin: 22vh 0 0 27vw;
    }

    .contact_text_box h3 {
        font: 300 1.6rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .contact_text_box p {
        font: 400 1.1rem/1.5 '나눔고딕',
            sans-serif;
        margin-bottom: 40px;
    }

    .contact_text_title {
        margin-bottom: -10px;
    }

    .contact_text_title>img {
        width: 25px;
        height: 25px;
    }

    /* footer */

    .footer_Copyright {
        font: 500 1rem/65px 'IBM Plex Sans KR',
            sans-serif;
    }

    .footer_mail {
        display: none;
    }

    .footer_link_wrap {
        margin-right: 20px;
    }

    footer img {
        padding: 20px 4px;
        width: 27px;
        height: 27px;
    }
}

@media screen and (max-width : 650px) {
    #main_sub {
        height: 1100px;
    }

    .sub_box {
        width: 250px;
        height: 1000px;
        top: 0%;
        left: 0px;
    }

    @keyframes fromleft {
        0% {
            opacity: 0;
            transform: translateX(-300px);
        }

        30% {
            opacity: 1;
            transform: translateX(0px);

        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    /*main_sub */
    .sub_name {
        position: static;
        text-align: center;
        font: bold 3.2rem sans-serif;
    }

    /* #소통하는 #감각있는 #성장하는 */
    .explain_me {
        left: 0px;
        top: 10%;
        display: flex;
        justify-content: center;
    }

    .explain_me>div {
        width: 270px;
        height: 270px;
    }


    :is(.img_wrap, .two, .three) {
        animation: bubble_mobile 1s ease;
        animation-timeline: view();
    }

    .one {
        animation-delay: 0s;
    }

    .two {
        animation-delay: 0.3s;
    }

    .three {
        animation-delay: 0.6s;
    }


    @keyframes bubble_mobile {
        0% {
            opacity: 0;
            transform: translateX(0px);
        }

        10% {
            opacity: 1;
            transform: translateX(70px);
        }

        100% {
            opacity: 1;
            transform: translateX(70px);
        }
    }

    .explain_me h3 {
        font: 300 1.8rem 'Black Han Sans',
            sans-serif;
        margin-top: -15px;
    }

    /* archiving */
    .archiving_name {
        position: static;
        text-align: center;
        top: 10px;
        font: bold 3.5rem sans-serif;
    }

    /* github */
    .github_img {
        width: 200px;
        height: 200px;
    }

    .github_img:hover {
        width: 210px;
        height: 210px;
    }

    .github_text {
        width: 270px;
        height: 20vh;
        margin-left: 7vw;
    }

    .github_text>h4 {
        font: 300 1.5rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .github_text>p {
        font: 400 1rem/1.5 'IBM Plex Sans KR',
            sans-serif;
    }

    .arch_left_box {
        animation: arch_left_box_ani 1s both;
        animation-timeline: view();
        transform-origin: left;

    }

    @keyframes arch_left_box_ani {
        0% {
            opacity: 0;
            transform: translateX(-300px);

        }


        30% {
            opacity: 1;
            transform: translateX(0px);

        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }

    }

    .t_story_img {
        margin: 2vh 0px -2vh 20vw;
    }

    .t_story_text {
        width: 280px;
        margin: 0 auto;
        padding-left: 10vw;
    }

    .t_story_text>h4 {
        font: 300 1.5rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .t_story_text>p {
        font: 400 1rem/1.5 'IBM Plex Sans KR',
            sans-serif;
    }

    /* projects_section_650px */

    #projects {
        height: 430vh;
    }

    .projects_name {
        top: -70px;
        left: 10%;
        transform: translate(-50%, 0%);
        font: bold 3.8rem sans-serif;
    }

    .horizontal_scroll_content {
        margin: 12vw auto;
    }

    .about_project .content {
        margin: 5vh auto;
    }

    .project_img_wrap {
        margin: 0px 3.5vw;
        width: 280px;
        height: 25vh;
    }


    /* 미디워쿼리 1000px project를 완성하세요 */
    /* projects배경 */
    /* project_img 실제 크기 */
    .project_main_img {
        width: 230px;
        height: 150px;
    }

    /* project_img  크기 hover시 영향 */
    .project_img_wrap {
        width: 220px;
        height: 130px;
    }


    /* project explain */

    .project_text_wrap>h3 {
        margin-top: 18px;
        font: 300 1.7rem 'Black Han Sans',
            sans-serif;
    }

    .project_text_wrap>h4 {
        font: bold 0.9rem/1.3 'IBM Plex Sans KR',
            sans-serif;
    }

    /* project_link_img */
    .project_link {
        margin: 4vh 30px;
    }

    .source_code_link {
        left: 0px;
    }

    .demo_code_link {
        top: -6px;
        left: 100px;
    }

    .source_code_link>img {
        width: 55px;
        height: 60px;
    }

    .demo_code_link>img {
        width: 55px;
        height: 65px;
    }

    .project_link>p {
        font: 100 0.7rem 'Black Han Sans', sans-serif;
    }

    /* readme_button */

    .readme_button {
        height: 4vh;
        font: 500 0.9rem 'IBM Plex Sans KR',
            sans-serif;
    }

    /* contact */
    .contact_name {
        /* left: 12vw; */
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        font: bold 3.8rem sans-serif;
    }

    /* contact_img hover시 영향, img left 이거 */
    .contact_img_wrap {
        left: 10vw;
        width: 200px;
        border-radius: 80px;
    }

    /* contact_doyi_img 실제 크기 */
    .contact_doyi_img {
        width: 200px;
        height: 50vh;
        border-radius: 80px;
    }

    .contact_text_wrap {
        width: 65vw;
    }

    .contact_info_wrap {
        width: 65vw;
    }

    .contact_text_box {
        margin: 22vh 0 0 19vw;
    }

    .contact_text_box h3 {
        font: 300 1.5rem/1.5 'Black Han Sans',
            sans-serif;
    }

    .contact_text_box {
        width: 190px;
    }

    .contact_text_box p {
        font: 400 1rem/1.5 '나눔고딕',
            sans-serif;
    }

    .contact_text_title>img {
        width: 20px;
        height: 20px;
    }

    /* footer */

    .footer_Copyright {
        padding-left: 15px;
    }

    /* scroll guide  */

    .scroll_guide span {
        width: 25px;
        height: 25px;
    }

    .scroll_guide_up span {
        width: 25px;
        height: 25px;
    }
}