.contact {
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.contact_text_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.contact_text1 {
    z-index: -1;
    font: bold 15rem sans-serif;
    color: #CDBCA3;
    white-space: nowrap;
    text-align: center;
}

.contact_text2 {
    font: bold 15rem sans-serif;
    color: #CDBCA3;
    white-space: nowrap;
    text-align: center;
    transform: scaleY(-1);
    opacity: 0.5;
    filter: blur(1px);
    margin-top: -2rem;
    background: linear-gradient(to bottom, #CDBCA3 50%, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contact_name {
    z-index: 1;
    color: var(--main-color-4);
    font-weight: bold;
    font-size: 14rem;
    white-space: nowrap;
    text-align: center;
    position: absolute;
    opacity: 0;
    margin-bottom: 40px;
}

.contact_info_container {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    min-width: 300px;
    align-items: center;
}

.info_item_wrap {
    display: flex;
    flex-direction: column;
}

.info_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: #E4DDCB;
    padding: 1rem;
    transition: all 0.3s ease;
}

.mail,
.phone {
    width: 40px;
    height: 40px;
}

.contact_doyi {
    width: 200px;
    height: 200px;
    background-color: rgba(231, 221, 205, .8);
    border-radius: 50%;
}

.info_text {
    text-align: center;
    color: #E4DDCB;

}

@media (max-width: 768px) {

    .contact_text1,
    .contact_text2,
    .contact_name {
        font-size: 10rem;
    }

    .info_item {
        font-size: 1.2rem;
    }

    .contact_info_container {
        min-width: 280px;
    }
}