.intro {
  background-color: var(--bg-color);
  height: 100vh;
}

/* 도이 */
.doyi {
  z-index: 2;
  width: 30%;
  height: 96%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  -webkit-animation: common_ani_opening 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4s 1;
  animation: common_ani_opening 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 4s 1;
  animation-fill-mode: backwards;
  filter: drop-shadow(5px 40px 15px rgba(0, 0, 0, 0.5));
}

@-webkit-keyframes common_ani_opening {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}



@keyframes common_ani_opening {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

}


/* master */

.master {
  z-index: 9;
  font: 90 16rem/1.2 'Black Han Sans',
    sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: inherit;
  text-rendering: optimizeLegibility
}

.master>div {
  color: var(--sub-color-1);
}

.master_container {
  position: absolute;
  top: 0px;
  height: 100vmin;
  width: 100%;
  margin: 0 auto;
  -webkit-animation: master_container_bg 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
  animation: master_container_bg 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
  animation-fill-mode: backwards;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.master_container .content {
  height: auto;
  margin-left: inherit;
  margin-right: inherit
}

.master_container_scroller {
  height: 250px;
  overflow: hidden;
  position: relative;
  margin-top: -30px;
}

/* 마지막 문구로 고정하기 */
.master_container_scroller .master_container_scroller_item {
  display: block;
  padding-bottom: 10px;
  -webkit-animation: scroll 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
  animation: scroll 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
  animation-fill-mode: forwards;

}

.master_container_scroller .master_container_scroller_item[href]:hover {
  text-decoration: underline
}

.master_container_scroller .master_container_scroller_item:nth-child(1),
.master_container_scroller .master_container_scroller_item:nth-child(1) a {
  color: var(--main-color-1)
}

.master_container_scroller .master_container_scroller_item:nth-child(2),
.master_container_scroller .master_container_scroller_item:nth-child(2) a {
  color: var(--main-color-2)
}

.master_container_scroller .master_container_scroller_item:nth-child(3),
.master_container_scroller .master_container_scroller_item:nth-child(3) a {
  color: var(--main-color-3)
}

.master_container_scroller .master_container_scroller_item:nth-child(4),
.master_container_scroller .master_container_scroller_item:nth-child(4) a {
  color: var(--main-color-4);
}



@-webkit-keyframes master_container_bg {
  0% {
    opacity: 0;
  }

  7% {
    opacity: 1;
  }

}

@keyframes master_container_bg {
  0% {
    opacity: 0;
  }

  7% {
    opacity: 1;
  }

}

@-webkit-keyframes master_container_bg-mobile {
  0% {
    opacity: 0;
  }

  7% {
    opacity: 1;
  }
}

@keyframes master_container_bg-mobile {
  0% {
    opacity: 0;
  }

  7% {
    opacity: 1;
  }

}

@-webkit-keyframes scroll {
  0.0% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px)
  }

  7% {
    opacity: 1;
  }

  10% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px)
  }

  25% {
    -webkit-transform: translateY(-325px);
    transform: translateY(-325px)
  }

  35% {
    -webkit-transform: translateY(-325px);
    transform: translateY(-325px)
  }

  50% {
    -webkit-transform: translateY(-645px);
    transform: translateY(-645px)
  }

  60% {
    -webkit-transform: translateY(-645px);
    transform: translateY(-645px)
  }

  75% {
    -webkit-transform: translateY(-965px);
    transform: translateY(-965px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-965px);
    transform: translateY(-965px);
  }
}

@keyframes scroll {
  0.0% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px)
  }

  7% {
    opacity: 1;
  }

  10% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px)
  }

  25% {
    -webkit-transform: translateY(-325px);
    transform: translateY(-325px)
  }

  35% {
    -webkit-transform: translateY(-325px);
    transform: translateY(-325px)
  }

  50% {
    -webkit-transform: translateY(-645px);
    transform: translateY(-645px)
  }

  60% {
    -webkit-transform: translateY(-645px);
    transform: translateY(-645px)
  }

  75% {
    -webkit-transform: translateY(-965px);
    transform: translateY(-965px)
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-965px);
    transform: translateY(-965px);
  }
}



/*===================
animation01
====================*/

.animation01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.animation01 div {
  width: 20%;
  height: 100%;
  animation: animation01 0.275s ease-in forwards;
  transform-origin: bottom;
  opacity: 0;
}

.animation01 div:nth-child(1) {
  background-color: var(--bg-color);
  animation-delay: 0.4s;
}

.animation01 div:nth-child(2) {
  background-color: var(--main-color-1);
  animation-delay: 0.3s;
}

.animation01 div:nth-child(3) {
  background-color: var(--main-color-2);
  animation-delay: 0.2s;
}

.animation01 div:nth-child(4) {
  background-color: var(--main-color-3);
  ;
  animation-delay: 0.1s;
}

.animation01 div:nth-child(5) {
  background-color: var(--main-color-4);
}

@keyframes animation01 {
  0% {
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation02
====================*/

.animation02 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.animation02 div {
  position: absolute;
  width: 0;
  height: 0;
  animation: animation02 0.6s ease-in 0.6s forwards;
  opacity: 0;
}

.animation02 div:nth-child(1) {
  top: 0;
  left: 0;
  border-top: 100vh solid transparent;
  border-right: 100vw solid #f2f3df;
  transform-origin: bottom right;
}

.animation02 div:nth-child(2) {
  right: 0;
  bottom: 0;
  border-bottom: 100vh solid transparent;
  border-left: 100vw solid #f2f3df;
  transform-origin: top left;
}

@keyframes animation02 {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation03
====================*/

.animation03 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13vw;
  height: 13vw;
}

.animation03 .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  background-color: transparent;
  z-index: 9998;
}

.animation03 .circle_element01 {
  width: 13vw;
  height: 13vw;
  border: 0.25vw solid #54988b;
  border-radius: 50%;
  animation: animation03_circle 0.3s ease-in-out 0.5s forwards, animation03_circle_element01 0.3s linear 0.9s forwards;
  opacity: 0;
}

.animation03 .circle_element02 {
  width: 9vw;
  height: 9vw;
  border: 0.5vw solid #4b5e58;
  border-radius: 50%;
  animation: animation03_circle 0.4s ease-in-out 0.5s forwards, animation03_circle_element02 0.2s linear 1.0s forwards;
  opacity: 0;
}

.animation03 .circle_element03 {
  width: 4vw;
  height: 4vw;
  border: 1vw solid #404a52;
  border-radius: 50%;
  animation: animation03_circle 0.45s ease-in-out 0.5s forwards, animation03_circle_element03 0.15s linear 1.4s forwards;
  opacity: 0;
}

@keyframes animation03_circle {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1;
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation03_circle_element01 {
  0% {
    border: 0.25vw solid #54988b;
  }

  100% {
    border: 0 solid #54988b;
  }
}

@keyframes animation03_circle_element02 {
  0% {
    border: 0.5vw solid #4b5e58;
  }

  100% {
    border: 0 solid #4b5e58;
  }
}

@keyframes animation03_circle_element03 {
  0% {
    border: 1vw solid #404a52;
  }

  100% {
    border: 0 solid #404a52;
  }
}

/*===================
animation04
====================*/

.animation04 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.line_wrapper {
  position: absolute;
  opacity: 0;
}

.line {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

/*===========
line01
===========*/

.animation04 .line_wrapper01 {
  top: -20%;
  left: 50%;
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper01 0.45s ease-in 0.8s forwards;
}

.animation04 .line01 {
  animation: animation04_line01 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper01 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line01 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line02
===========*/

.animation04 .rotate45 {
  display: block;
  position: absolute;
  top: 22.5%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.animation04 .line_wrapper02 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper02 0.45s ease-in 0.8s forwards;
}

.animation04 .line02 {
  animation: animation04_line02 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper02 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line02 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line03
===========*/

.animation04 .line_wrapper03 {
  top: 50%;
  left: 90%;
  width: 30%;
  height: 2.5%;
  animation: animation04_line_wrapper03 0.45s ease-in 0.8s forwards;
}

.animation04 .line03 {
  animation: animation04_line03 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper03 {
  0% {
    transform-origin: right;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: right;
    transform: scale3d(0, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line03 {
  0% {
    transform-origin: left;
    transform: scale3d(0, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: left;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line04
===========*/

.animation04 .rotate135 {
  display: block;
  position: absolute;
  top: 49.5%;
  left: -22%;
  width: 100%;
  height: 100%;
  transform: rotate(135deg);
}

.animation04 .line_wrapper04 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper04 0.45s ease-in 0.8s forwards;
}

.animation04 .line04 {
  animation: animation04_line04 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper04 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line04 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line05
===========*/

.animation04 .line_wrapper05 {
  top: 90%;
  left: 50%;
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper05 0.45s ease-in 0.8s forwards;
}

.animation04 .line05 {
  animation: animation04_line05 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper05 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line05 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }

  100% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line06
===========*/

.animation04 .rotate_135 {
  display: block;
  position: absolute;
  top: -19.5%;
  left: -48%;
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}

.animation04 .line_wrapper06 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper06 0.45s ease-in 0.8s forwards;
}

.animation04 .line06 {
  animation: animation04_line06 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper06 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line06 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line07
===========*/

.animation04 .line_wrapper07 {
  top: 50%;
  left: -20%;
  width: 30%;
  height: 2.5%;
  animation: animation04_line_wrapper07 0.45s ease-in 0.8s forwards;
}

.animation04 .line07 {
  animation: animation04_line07 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper07 {
  0% {
    transform-origin: left;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: left;
    transform: scale3d(0, 1, 1);
    opacity: 1;
  }
}

@keyframes animation04_line07 {
  0% {
    transform-origin: right;
    transform: scale3d(0, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: right;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===========
line08
===========*/

.animation04 .rotate_45 {
  display: block;
  position: absolute;
  top: -49.0%;
  left: 20%;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

.animation04 .line_wrapper08 {
  width: 2.5%;
  height: 30%;
  animation: animation04_line_wrapper08 0.45s ease-in 0.8s forwards;
}

.animation04 .line08 {
  animation: animation04_line08 0.45s ease-in 0.5s forwards;
}

@keyframes animation04_line_wrapper08 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }

  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation04_line08 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }

  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation05
====================*/

.animation05 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.double_wrapper02 {
  position: relative;
  width: 100%;
  height: 100%;
  animation: animation05_double forwards;
  opacity: 0;
}

.double_wrapper01 {
  display: block;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.double_wrapper01::before {
  content: "";
  display: block;
  position: absolute;
  background: #f2f3df;
  z-index: 2;
}

.double_wrapper01::after {
  content: "";
  display: block;
  position: absolute;
  background: #f2f3df;
  z-index: 3;
}

.double_block {
  position: absolute;
  background: #f2f3df;
  border-radius: 50%;
}

/*==============
green circle
==============*/

.green02 {
  top: 0;
  animation-delay: 1.3s;
}

.green01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34vw;
  height: 34vw;
  background: var(--bg-color);
  z-index: 1;
}

.green01::before {
  top: 0;
  left: 17vw;
  width: 34vw;
  height: 34vw;
  transform-origin: left 17vw;
  animation: rotate-circle-right 0.5s linear 1.55s forwards;
}

.green01::after {
  top: 0;
  left: -17vw;
  width: 34vw;
  height: 34vw;
  transform-origin: right 17vw;
  animation: rotate-circle-left 0.5s linear 1.3s forwards;
}

.green00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

/*==============
navy circle
==============*/

.navy02 {
  top: -100%;
  animation-delay: 1.4s;
}

.navy01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 25vw;
  height: 25vw;
  background: var(--main-color-1);
  z-index: 1;
}

.navy01::before {
  top: 0;
  left: 12.5vw;
  width: 25vw;
  height: 25vw;
  transform-origin: left 12.5vw;
  animation: rotate-circle-right 0.5s linear 1.65s forwards;
}

.navy01::after {
  top: 0;
  left: -12.5vw;
  width: 25vw;
  height: 25vw;
  transform-origin: right 12.5vw;
  animation: rotate-circle-left 0.5s linear 1.4s forwards;
}

.navy00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

/*==============
yellow circle
==============*/

.yellow02 {
  top: -200%;
  animation-delay: 1.45s;
}

.yellow01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 23vw;
  height: 23vw;
  background: var(--main-color-2);
  z-index: 1;
}

.yellow01::before {
  top: 0;
  left: 11.5vw;
  width: 23vw;
  height: 23vw;
  transform-origin: left 11.5vw;
  animation: rotate-circle-right 0.5s linear 1.7s forwards;
}

.yellow01::after {
  top: 0;
  left: -11.5vw;
  width: 23vw;
  height: 23vw;
  transform-origin: right 11.5vw;
  animation: rotate-circle-left 0.5s linear 1.45s forwards;
}

.yellow00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

/*==============
blue circle
==============*/

.blue02 {
  top: -300%;
  animation-delay: 1.2s;
}

.blue01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  width: 16vw;
  height: 16vw;
  background: var(--main-color-3);
  z-index: 1;
}

.blue01::before {
  top: 0;
  left: 8vw;
  width: 16vw;
  height: 16vw;
  transform-origin: left 8vw;
  animation: rotate-circle-right 0.5s linear 1.45s forwards;
}

.blue01::after {
  top: 0;
  left: -8vw;
  width: 16vw;
  height: 16vw;
  transform-origin: right 8vw;
  animation: rotate-circle-left 0.5s linear 1.2s forwards;
}

.blue00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7vw;
  height: 7vw;
  z-index: 4;
}

/*==============
red circle
==============*/

.red02 {
  top: -400%;
  animation-delay: 1.3s;
}

.red01 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12vw;
  height: 12vw;
  background: var(--main-color-4);
  z-index: 1;
}

.red01::before {
  top: 0;
  left: 6vw;
  width: 12vw;
  height: 12vw;
  transform-origin: left 6vw;
  animation: rotate-circle-right 0.5s linear 1.55s forwards;
}

.red01::after {
  top: 0;
  left: -6vw;
  width: 12vw;
  height: 12vw;
  transform-origin: right 6vw;
  animation: rotate-circle-left 0.5s linear 1.3s forwards;
}

.red00 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9vw;
  height: 9vw;
  z-index: 4;
}

@keyframes animation05_double {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate-circle-left {
  0% {
    background: #f2f3df;
    transform: rotate(0deg);
  }

  50% {
    background: #f2f3df;
    transform: rotate(-180deg);
  }

  50.01% {
    background: #f2f3df;
    transform: rotate(-180deg);
  }

  100% {
    background: #f2f3df;
    transform: rotate(-360deg);
  }
}

@keyframes rotate-circle-right {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/*===================
animation06
====================*/

.animation06 {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.rhombus05 {
  top: 0;
  left: 0;
  width: 100vw;
  animation: rhombus 0.7s ease-in 2.0s forwards;
  opacity: 0;
}

.rhombus04 {
  /* background-image: linear-gradient(to bottom, var(--bg-color) 55%, var(--main-color-4) 45%); */
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
}

/* var(--bg-color) */



@keyframes rhombus {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1;
  }

  100% {
    transform: scale3d(10, 10, 1);
    opacity: 1;
  }
}

.intro_wrap {
  overflow: hidden;
  position: relative;

  height: 100vh;
}

/* scss */
.intro_wrapper h1 {
  text-shadow: -1px -1px 0 #8e9f81, 1px -1px 0 #8e9f81, -1px 1px 0 #8e9f81, 1px 1px 0 #8e9f81;
}

.intro_wrapper h1:after {
  content: attr(data-heading);
  z-index: 999;
  overflow: hidden;
  color: var(--sub-color-1);
  mix-blend-mode: darken;
  text-shadow: 1px 0px 0px #8e9f81, 0px 1px 0px #4e5c43, 2px 1px 0px #8e9f81, 1px 2px 0px #4e5c43, 3px 2px 0px #8e9f81, 2px 3px 0px #4e5c43, 4px 3px 0px #8e9f81, 3px 4px 0px #4e5c43, 5px 4px 0px #8e9f81, 4px 5px 0px #4e5c43, 6px 5px 0px #8e9f81, 5px 6px 0px #4e5c43, 7px 6px 0px #8e9f81;
}

@media screen and (max-width : 1700px) {
  .master {
    font: 90 13rem/1.2 "Black Han Sans", sans-serif;
  }

  .master_container {
    width: 100%
  }

  .master_container_scroller {
    height: 200px;
    margin-bottom: 5px;
  }

  .master_container_scroller .master_container_scroller_item {
    -webkit-animation: scroll-desktop 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation: scroll-desktop 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes scroll-desktop {
    0.0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    7% {
      opacity: 1;
    }

    10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    25% {
      -webkit-transform: translateY(-270px);
      transform: translateY(-270px);
    }

    35% {
      -webkit-transform: translateY(-270px);
      transform: translateY(-270px);
    }

    50% {
      -webkit-transform: translateY(-520px);
      transform: translateY(-520px);
    }

    60% {
      -webkit-transform: translateY(-520px);
      transform: translateY(-520px);
    }

    75% {
      -webkit-transform: translateY(-780px);
      transform: translateY(-780px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(-780px);
      transform: translateY(-780px);
    }
  }

  @keyframes scroll-desktop {
    0.0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    7% {
      opacity: 1;
    }

    10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    25% {
      -webkit-transform: translateY(-270px);
      transform: translateY(-270px);
    }

    35% {
      -webkit-transform: translateY(-270px);
      transform: translateY(-270px);
    }

    50% {
      -webkit-transform: translateY(-520px);
      transform: translateY(-520px);
    }

    60% {
      -webkit-transform: translateY(-520px);
      transform: translateY(-520px);
    }

    75% {
      -webkit-transform: translateY(-780px);
      transform: translateY(-780px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(-780px);
      transform: translateY(-780px);
    }
  }
}

@media screen and (max-width : 1200px) {
  .doyi {
    display: none;
  }

  .master {
    font: 90 5rem/1.2 "Black Han Sans", sans-serif;
  }

  .master_container {
    top: 80px;
    height: 80vmin;
    width: 90vw;
    left: 10vw;
  }

  .master_container_scroller .master_container_scroller_item {
    -webkit-animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation-fill-mode: forwards;
  }

  .master_container_scroller {
    height: 100px;
    margin-top: 5px;
  }

  .master_container_scroller .master_container_scroller_item {
    padding-bottom: 0;
    -webkit-animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation: scroll-tablet 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes scroll-tablet {
    0.0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    7% {
      opacity: 1;
    }

    10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    25% {
      -webkit-transform: translateY(-90px);
      transform: translateY(-90px);
    }

    35% {
      -webkit-transform: translateY(-90px);
      transform: translateY(-90px);
    }

    50% {
      -webkit-transform: translateY(-185px);
      transform: translateY(-185px);
    }

    60% {
      -webkit-transform: translateY(-185px);
      transform: translateY(-185px);
    }

    75% {
      -webkit-transform: translateY(-280px);
      transform: translateY(-280px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(-280px);
      transform: translateY(-280px);
    }
  }

  @keyframes scroll-tablet {
    0.0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    7% {
      opacity: 1;
    }

    10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    25% {
      -webkit-transform: translateY(-90px);
      transform: translateY(-90px);
    }

    35% {
      -webkit-transform: translateY(-90px);
      transform: translateY(-90px);
    }

    50% {
      -webkit-transform: translateY(-185px);
      transform: translateY(-185px);
    }

    60% {
      -webkit-transform: translateY(-185px);
      transform: translateY(-185px);
    }

    75% {
      -webkit-transform: translateY(-280px);
      transform: translateY(-280px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(-280px);
      transform: translateY(-280px);
    }
  }
}

@media screen and (max-width : 650px) {

  .master {
    font: 90 3rem/1.2 "Black Han Sans", sans-serif;
  }

  .master_container {
    width: 85vw;
    top: 150px;
    height: 80vmin;
  }

  .master_container_scroller .master_container_scroller_item {
    -webkit-animation: scroll_mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation: scroll_mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation-fill-mode: forwards;
  }

  .master_container_scroller {
    height: 50px;
    margin-bottom: 10px;
  }

  .master_container_scroller .master_container_scroller_item {
    padding-bottom: 0;
    -webkit-animation: scroll-mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation: scroll-mobile 4.5s cubic-bezier(0.645, 0.045, 0.355, 1) 2.8s 1;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes scroll-mobile {
    0.0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    7% {
      opacity: 1;
    }

    10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    25% {
      -webkit-transform: translateY(-47px);
      transform: translateY(-47px);
    }

    35% {
      -webkit-transform: translateY(-47px);
      transform: translateY(-47px);
    }

    50% {
      -webkit-transform: translateY(-94px);
      transform: translateY(-94px);
    }

    60% {
      -webkit-transform: translateY(-94px);
      transform: translateY(-94px);
    }

    75% {
      -webkit-transform: translateY(-141px);
      transform: translateY(-141px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(-141px);
      transform: translateY(-141px);
    }
  }

  @keyframes scroll-mobile {
    0.0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    7% {
      opacity: 1;
    }

    10% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    25% {
      -webkit-transform: translateY(-55px);
      transform: translateY(-55px);
    }

    35% {
      -webkit-transform: translateY(-55px);
      transform: translateY(-55px);
    }

    50% {
      -webkit-transform: translateY(-110px);
      transform: translateY(-110px);
    }

    60% {
      -webkit-transform: translateY(-110px);
      transform: translateY(-110px);
    }

    75% {
      -webkit-transform: translateY(-170px);
      transform: translateY(-170px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(-170px);
      transform: translateY(-170px);
    }
  }
}